@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Akira";
  src: url("../assets/fonts/Akira-Expanded-Font/Akira\ Expanded\ Demo.otf");
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --primary-color: #f2ff00;
  --tertiary-color: #000;
  --card-bg: #1e1e1e;
  --hover-color: #6a6a6a;
  --text-color-10: #ffffff1a;
  --text-color-16: #ffffff29;
  --text-color-50: #ffffff80;
  --text-color-30: #ffffff4d;
}

body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
  background-color: var(--tertiary-color);
}

.container {
  max-width: 1820px;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title1 {
  font-family: "Akira", sans-serif;
  font-size: 141px;
  color: var(--text-color);
  line-height: 130px;
}

.title2 {
  font-family: "Clash Display";
  font-size: 48px;
  font-weight: 400;
}

.title3 {
  font-family: "Akira", sans-serif;
  font-size: 25px;
  color: var(--text-color);
}

.title4 {
  font-family: "Akira", sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: var(--text-color);
}

/* 
====================
LOADER PART
====================
*/

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Spinner */
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #334155;
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#page-loader p {
  margin-top: 15px;
  color: #e2e8f0;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}

/* Hide Loader */
#page-loader.hide {
  opacity: 0;
  visibility: hidden;
}

/* Content */
.content {
  padding: 50px;
  font-family: Arial, sans-serif;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 
=================
HEADER SECTION
=================
*/

.hdr-sec {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 99;
}

.navbar-brand {
  width: 172px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offcanvas {
  flex-direction: row !important;
  align-items: center;
}

.navbar-nav {
  max-width: 1305px;
  padding: 3px;
  backdrop-filter: blur(13px);
  margin: 0 auto;
  /* height: 74px; */
  align-items: center;
  border-radius: 56px;
  background-color: var(--text-color-16) !important;
  border: 1px solid #ffffff42;
}

.navbar-nav li:nth-child(6) {
  margin-right: 0;
}

.nav-item {
  margin-right: 5px;
}

.nav-link {
  padding: 21px 20px !important;
  color: var(--text-color);
  font-size: 18px;
  transition: all 0.5s ease-in;
}

.nav-link:hover {
  color: var(--text-color);
  border-radius: 110px;
  background-color: var(--tertiary-color);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background: linear-gradient(
      to top,
      rgba(255, 251, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #2d2c2c !important;
  padding: 5px 19px 0 5px;
  border-radius: 10px;
}

.dropdown-menu > li {
  margin-bottom: 5px;
}

.dropdown-item {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, #272525 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  border: 1px solid #ffe6004d;
  text-transform: capitalize;
  width: 220px !important;
  border-radius: 300px;
  /* transition: all 0.5s ease-in; */
}

.dropdown-item:hover {
  background: linear-gradient(180deg, rgba(3, 3, 3, 80%) 70%, #8a8b00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav .nav-link.show {
  color: var(--text-color) !important;
}

.search-form {
  max-width: 370px;
}

.search-wrpr {
  width: 100%;
  padding: 15px 15px;
  margin-right: 7px;
  border-radius: 74px;
  background-color: var(--tertiary-color);
}

.search-wrpr > label > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.search-wrpr .form-control:focus {
  box-shadow: none;
}

.search-input {
  background: none;
  border: none;
}

.search-input::placeholder {
  color: var(--text-color) !important;
  font-size: 16px;
}

.search-input:focus {
  background: none;
  outline: none !important;
  border: none !important;
  color: var(--text-color);
}

.cart-bg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.cart-bg:hover svg {
  transform: scale(1.3);
}

.cart-bg:hover svg {
  transition: all 0.3s ease-in-out;
}

.cart-bg > svg {
  width: 24px;
  height: 24px;
}

.nav-btn > img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-left: 10px;
}

.nav-btn {
  padding: 20px 20px 20px 41px;
  border: 1px solid var(--primary-color);
  background-color: #fff7001a;
  backdrop-filter: blur(2px);
  border-radius: 37.5px;
  transition: all 0.2s;
  overflow: hidden;
}

.nav-btn > span {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.nav-btn img {
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: var(--primary-color);
}

.nav-btn:hover span {
  transform: translateX(16em);
}

.nav-btn:hover img {
  transform: translateX(-6em) scale(1.8);
}

.active {
  border-radius: 110px;
  background-color: var(--primary-color);
  color: var(--tertiary-color) !important;
}

.active:hover {
  background: var(--primary-color) !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}

/* 
=============
Modal Part
=============
*/

.modal-backdrop {
  z-index: 1050 !important;
}

.modal {
  z-index: 1055 !important;
}

.modal-dialog {
  max-width: 1140px;
}

.modal-content {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f2ff00 -28%, #000000 100%);
  position: relative;
}

.modal-header > .title3 {
  margin-left: 0 !important;
  margin-top: 10px;
  font-size: 27px;
}

.modal-desc {
  max-width: 455px;
  margin-block: 0 50px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}

.modal-form {
  width: 100%;
}

.input-wrpr {
  align-items: center;
  width: 100%;
  padding: 11px;
  background-color: var(--text-color-10);
  border: 1px solid var(--text-color-30);
  margin-bottom: 12px;
}

.input-wrpr > img {
  margin-right: 10px;
}

.input-wrpr > input:focus {
  border: none;
  outline: none !important;
}

#fname,
#lname,
#emailname,
#gender,
#age,
#phone,
#weight,
#goal,
#password {
  width: 100%;
  background: none;
  border: none;
}

#fname::placeholder,
#lname::placeholder,
#emailname::placeholder,
#gender::placeholder,
#age::placeholder,
#phone::placeholder,
#weight::placeholder,
#goal::placeholder,
#password::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 12px;
}

.pass-fld span {
  display: inline-block;
}

.terms {
  margin-block: 12px 24px;
}

.eye {
  cursor: pointer;
}

.eye.active svg {
  opacity: 1;
}

.terms-check {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* hide real checkbox */
.terms-check input {
  display: none;
}

/* circle */
.check-ui {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #e6ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* tick */
.check-ui::after {
  content: "✓";
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: none;
}

/* checked state */
.terms-check input:checked + .check-ui {
  background-color: #e6ff00;
}

.terms-check input:checked + .check-ui::after {
  display: block;
}

.terms .agree {
  color: #4e4e4e;
  font-size: 17px;
  margin: 0 10px;
}

.terms a {
  color: var(--text-color);
  font-size: 17px;
  text-decoration: underline;
}

.submit-btn-wrpr {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 37.5px;
  padding: 20px 20px 20px 41px;
}

#submit-btn {
  background: none !important;
  border: none !important;
  font-weight: 500;
  font-size: 18px;
  color: var(--tertiary-color);
}

.modal-right {
  background: url("../assets/modal-bg.png") no-repeat center/cover;
  padding: 50px;
  border-radius: 10px;
}

.modal-logo {
  width: 90px;
  margin-left: auto;
}

.modal-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-right-cntn {
  margin-top: 400px;
}

.modal-right-cntn > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.5;
}

.modal-btn > p {
  font-weight: 600;
  font-size: 18px;
  max-width: 186px;
  color: var(--text-color);
}

.line1 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--tertiary-color);
  border: 2px solid var(--text-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.line2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--text-color);
  margin-left: 10px;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--text-color);
  opacity: 1 !important;
  border: 1px solid var(--tertiary-color) !important;
}

/* 
=====================
BANNER SECTION
=====================
*/

.banner-sec {
  background: url("../assets/about/about-banner.png") no-repeat center/cover;
  position: relative;
  padding: 627px 0 60px;
  background-attachment: fixed;
}

.banner-sec::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.banner-cntn .title1 span {
  color: var(--primary-color);
}

.title-btn {
  display: inline-block;
  font-family: "Akira";
  padding: 8px 16px;
  background-color: var(--text-color-10);
  border: 1px solid var(--text-color-30);
  backdrop-filter: blur(60px);
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--text-color);
}

.title-btn > .about {
  color: var(--primary-color);
  position: relative;
  margin-left: 20px;
}

.title-btn > .about::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: var(--primary-color);
  left: -15px;
  top: 32%;
}

.yellow-line {
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
  transform: skewX(-30deg);
  position: relative;
}

.yellow-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}

.yellow-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}

/* 
=================
ABOUT SECTION
=================
*/

.about-sec {
  padding: 160px 0 60px;
  background-color: var(--tertiary-color);
}

.about-hdr .about-title3 {
  margin-left: 50px;
}

.about-hdr .about-title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.smaller-yellow-line {
  margin-left: 35px;
}

.about-yellow-line,
.about-yellow-line::after,
.about-yellow-line::before {
  width: 8.55px;
  height: 24px;
}

.about-yellow-line::before {
  left: -15px;
}

.about-yellow-line::after {
  left: 15px;
}

.about-right-hdr .title2 {
  font-weight: 400;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-img {
  max-width: 860px;
  position: relative;
}

.about-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-hdr {
  margin-bottom: 250px;
}

.about-right-desc {
  max-width: 860px;
}

.about-right-desc-hdr {
  font-size: 35px;
  font-weight: 500;
  color: var(--text-color);
}

.about-desc-row {
  margin-block: 31px;
  padding-block: 31px;
  border-block: 1px solid var(--text-color-30);
}

.about-list {
  font-size: 23px;
  color: var(--text-color);
}

.about-list > li {
  margin-bottom: 28px;
}

.about-list li:last-child {
  margin-bottom: 0;
}

.about-list > li > img {
  margin-right: 16px;
}

.phone-img {
  max-width: 99.28px;
  cursor: pointer;
}

.phone-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone-contact > a {
  margin-left: 31px;
  max-width: 261px;
  font-size: 23px;
  font-weight: 500;
  color: var(--text-color);
}

.phone-contact > a > span {
  font-size: 31px;
  color: var(--primary-color);
}

/* 
===================
SERVICE SECTION
===================
*/

.service-sec {
  padding: 80px 0;
  background: url("../assets/about/service-bg.png") no-repeat center/cover;
}

.service-title3 {
  margin-left: 70px;
}

.service-hdr .service-title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -11%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.about-swiper {
  overflow: hidden;
  max-width: 600px;
  padding-bottom: 45px;
}

/* .about-swiper-slide {
  margin: 0 auto;
} */

.training-card {
  /* max-width: 855px; */
  padding: 30px;
  background-color: var(--text-color-10);
  backdrop-filter: blur(44px) saturate(180%) brightness(1.2);
  -webkit-backdrop-filter: blur(44px) saturate(180%) brightness(1.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37),
    inset 0 1px 1px 0 rgba(255, 255, 255, 0.15);
  /* position: relative;
  margin: 0 auto; */
}

.training-hdr {
  font-size: 36px;
  font-weight: 900;
  font-family: "Akira";
  color: var(--text-color);
  margin-bottom: 20px;
}

.training-card > p {
  font-family: "Clash Display";
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.about-pagination {
  bottom: 0 !important;
  left: -41% !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  opacity: 1;
  background: var(--text-color-30);
}

/* 
===================
WORKOUT SECTION
===================
*/

.workout-sec {
  padding: 80px 0 124px;
}

.work-hdr {
  padding: 80px 0;
}

.work-left-hdr .title3 {
  margin-left: 50px;
}

.work-left-hdr .about-title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -11%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.work-right-hdr {
  margin-top: 80px;
}

.work-title2 {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) -100%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-title2 > .yellow-text {
  -webkit-text-fill-color: var(--primary-color);
}

.work-title2 > .white-text {
  -webkit-text-fill-color: var(--text-color);
}

.work-row {
  margin-top: 30px;
  align-items: center;
}

.number > p {
  max-width: 186px;
  font-size: 81px;
  line-height: 36px;
  font-weight: bold;
  color: var(--text-color);
  border-right: 1px solid var(--text-color);
}

.yellow-plus {
  color: var(--primary-color);
}

.small-txt {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-color);
}

.work-para {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.filter-btn-cntn {
  width: 100%;
}

.filter-btn-cntn > .filter-wrapper {
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll; */
}

.button-iso {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 12px;
  display: inline-block;
  outline: none;
  background: transparent;
  color: var(--white-color);
}

.btn-cntn {
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px;
  font-weight: 500;
  padding: 6px 12px !important;
  margin: 0 !important;
  text-transform: capitalize;
}

.button-iso.active-btn {
  border: 1px solid var(--primary-color) !important;
  color: var(--tertiary-color) !important;
}

/* .button-iso:active > p {
  color: var(--tertiary-color);
  background-color: var(--primary-color) !important;
} */

.btn-slideWidth {
  width: fit-content !important;
}

.grid {
  margin-top: 130px;
}

/* .grid .row {
  display: flex;
  flex-wrap: wrap;
} */

.element-card {
  width: 50%;
  /* max-width: 854px; */
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 130px;
}

.card-top {
  background: url("../assets/about/work-bg.png") no-repeat center/cover;
  min-height: 400px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-type {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--primary-color);
  font-size: 15px;
  color: var(--tertiary-color);
  margin-left: auto;
  font-weight: bold;
  z-index: 4;
}

.card-top > .yellow-line {
  position: absolute;
  right: 48px;
  bottom: 52px;
}

.author {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: 900;
  color: var(--text-color);
  text-transform: uppercase;
}

.cata-card-img {
  position: absolute;
  bottom: 0;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 95%
  );
}

.cata-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img2 {
  max-width: 296.68px;
  left: 17px;
}

.img3 {
  max-width: 327px;
  /* top: -128.3px; */
  left: 149px;
}

.img4 {
  max-width: 794.88px;
  top: -64.3px;
  right: 60.46px;
  left: 0;
}

.img5 {
  max-width: 401.94px;
  left: 136px;
  /* top: -124.3px; */
}

.img7 {
  max-width: 535px;
  top: -120.07px;
  /* right: 343px; */
  left: 0;
}

.img8 {
  max-width: 473px;
  top: -124.3px;
  left: 33px;
}

.card-bottom {
  margin-top: 24px;
}

.numbering {
  display: flex;
  align-items: center;
  max-width: 39px;
  margin-block: 11px 20px;
  height: 33px;
  padding: 12px;
  font-size: 13px;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

.card-btm-row {
  align-items: center;
}

.card-desc {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.card-desc > span {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 400;
}

.card-btn {
  width: 100%;
  padding: 26.5px 10px;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.card-btn::before,
.card-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: black;
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.card-btn::before {
  left: -20px;
}

.card-btn::after {
  right: -20px;
}

.card-btn:hover::before,
.card-btn:hover::after {
  width: 60%;
}

.card-btn:hover > span,
.card-btn:hover i {
  color: var(--primary-color) !important;
}

.card-btn:hover {
  border: 1px solid var(--primary-color);
}

.card-btn > span {
  font-size: 27px;
  color: var(--tertiary-color);
  font-weight: 600;
  text-transform: capitalize;
}

.load-more-btn {
  text-align: center;
}

.load-btn {
  padding: 20px 0;
  width: 100%;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  border-block: 1px solid var(--text-color-30);
  border-inline: 4px solid var(--primary-color);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.load-btn::before,
.load-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: var(--primary-color);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.load-btn::before {
  left: -10px;
}

.load-btn::after {
  right: -10px;
}

.load-btn:hover::before,
.load-btn:hover::after {
  width: 58%;
}

.load-btn:hover {
  color: var(--tertiary-color);
}

/* 
======================
GET IN TOUCH SECTION
======================
*/

.get-in-sec {
  padding: 27.28px 0;
  background: url("../assets/about/getintouch-bg.png") no-repeat center/cover;
  background-attachment: fixed;
}

.get-cntn-col {
  position: relative;
}

.get-in-cntn {
  max-width: 703px;
  /* height: 671px; */
  padding: 36px;
  background: linear-gradient(
    to bottom,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 0) 100%
  );
  backdrop-filter: blur(54px);
  outline: 1px solid var(--primary-color);
  position: absolute;
  left: 0;
  width: 100%;
  right: 0;
  top: -100px;
}

.get-hdr {
  margin: 0 !important;
}

.get-title3 {
  color: var(--primary-color) !important;
}

.questions {
  font-weight: 900;
  color: var(--text-color);
  font-family: "Akira";
  margin-block: 50px 24px;
}

.ansr {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}

.features > span > img {
  margin-right: 10px;
}

.feature-second {
  margin-left: 24px;
}

.membership-prize {
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  /* margin-top: 30px; */
}

.membership-prize > span {
  font-size: 108px;
  color: var(--text-color);
}

.offer {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 10.08px;
  text-decoration: underline;
  text-underline-offset: 12px;
}

.in-touch-btn {
  margin-block: 40px 12px;
}

.in-touch-btn > .form-btn.form-btn {
  width: 100%;
}

.get-in-form {
  width: 100%;
  margin-block: 30px;
}

.black-line {
  width: 6.36px;
  height: 15.17px;
  background: var(--tertiary-color);
  transform: skewX(-30deg);
  margin-left: 18px;
  position: relative;
}

.black-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 6.36px;
  height: 15.17px;
  background: var(--tertiary-color);
}

.black-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 13px;
  width: 6.36px;
  height: 15.17px;
  background: var(--tertiary-color);
}

.label-hd {
  font-family: "Akira";
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#fname2,
#lname2 {
  width: 100%;
  height: 46px;
  padding: 15px;
  border: none;
  outline: none;
}

.text-area-hd {
  margin-top: 24px;
}

#text-area {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: none;
  outline: none;
}

.form-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 20px 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  border-inline: 5px solid var(--tertiary-color);
  outline: none;
  box-shadow: 0px 11px 17.9px rgba(0, 0, 0, 0.09);
  margin-top: 24px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.in-touch-btn > .form-btn::before,
.in-touch-btn > .form-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: black;
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.in-touch-btn > .form-btn::before {
  left: -10px;
}

.in-touch-btn > .form-btn::after {
  right: -10px;
}

.in-touch-btn > .form-btn:hover::before,
.in-touch-btn > .form-btn:hover::after {
  width: 58%;
}

.in-touch-btn > .form-btn:hover {
  color: var(--primary-color) !important;
}

.get-in-btn .form-btn::before,
.get-in-btn .form-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: black;
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.get-in-btn > .form-btn::before {
  left: -10px;
}

.get-in-btn > .form-btn::after {
  right: -10px;
}

.get-in-btn > .form-btn:hover::before,
.get-in-btn > .form-btn:hover::after {
  width: 58%;
}

.get-in-btn > .form-btn:hover {
  color: var(--primary-color) !important;
  /* background: var(--tertiary-color) !important; */
}

/* 
==========================
HOW IT WOTKS SECTION
==========================
*/

.how-section {
  padding: 200px 0 80px;
}

.how-title {
  color: var(--text-color);
  background: none;
  -webkit-text-fill-color: var(--text-color);
}

.how-steps {
  width: 100%;
  margin-top: 100px;
  border: 1px solid var(--text-color-16);
}

.step {
  padding-block: 34px 24px;
  border-right: 1px solid var(--text-color-16);
  position: relative;
}

.step > p {
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 10px !important;
}

.step > .smaller-yellow-line {
  margin-left: 0px !important;
}

.step > .smaller-yellow-line,
.step > .smaller-yellow-line::before,
.step > .smaller-yellow-line::after {
  width: 6.36px;
  height: 15.17px;
}

.step-desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}

.step-num {
  width: 39px;
  height: 33px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-color);
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 47%;
  top: -17px;
}

/* 
==================
DISCOVER SECTION
==================
*/

.discover-sec {
  /* padding: 200px 0; */
  min-height: 100vh;
  background: url("../assets/about/disc-bg.png") no-repeat center/cover;
}

.discover-box {
  padding: 46px 65px;
  max-width: 1464px;
  background: rgba(255, 255, 255, 0.36);
  margin: 0 auto;
}

.discover-box .title2 {
  font-family: "Clash Display";
  /* max-width: 1334px; */
  font-size: 47px;
  font-weight: 700;
  color: var(--text-color);
}

.discover-box p {
  font-family: "Clash Display";
  font-size: 37px;
  margin: 39px 0;
  color: var(--text-color);
}

.discover-box .card-btn {
  width: fit-content;
  padding: 23px 37px;
  border-radius: 10px;
  transition: all 0.5s linear;
}

.discover-box .card-btn > span {
  font-family: "Clash Display";
  font-size: 37px !important;
  font-weight: 500 !important;
}

.discover-box .card-btn:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

/* 
===================
BMI SECTION
===================
*/

.bmi-sec {
  position: relative;
  padding: 80px 0;
}

.bmi-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/about/bmi-bg.png") no-repeat center/cover;
  filter: grayscale(100%);
  z-index: 0;
  background-attachment: fixed;
}

.bmi-sec > * {
  position: relative;
  z-index: 1;
}

.bmi-sec .title2 {
  margin-block: 80px 30px;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    )
    text;
  -webkit-text-fill-color: transparent;
}

.bmi-sec .title2 > span {
  -webkit-text-fill-color: var(--primary-color);
}

.bmi-desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
  margin-bottom: 30px;
}

.bmi-form {
  padding-block: 30px;
}

.bmi-yellow-line {
  width: 6.36px;
  height: 15.17px;
  background: var(--primary-color);
  transform: skewX(-30deg);
  margin-left: 18px;
  position: relative;
}

.bmi-yellow-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 6.36px;
  height: 15.17px;
  background: var(--primary-color);
}

.bmi-yellow-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 13px;
  width: 6.36px;
  height: 15.17px;
  background: var(--primary-color);
}

.bmi-hd {
  color: var(--text-color);
}

.bmi-input {
  margin-bottom: 24px;
}

.bmi-form .card-btn {
  width: fit-content;
  padding: 20px 30px;
}

.bmi-form .card-btn > span {
  text-transform: uppercase;
  font-weight: 600;
}

.bmi-img-wrpr {
  max-width: 720px;
  height: 573px;
  margin: 0 auto;
  position: relative;
}

.bmi-img-wrpr > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bmi-img-bg {
  width: 100%; /* ✅ add this */
  max-width: 500px;
  background: linear-gradient(
    to bottom,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 0) 100%
  );
  backdrop-filter: blur(54px);
  position: absolute;
  left: 40%;
  transform: scale(1.1);
  top: 0;
  bottom: 0;
}

.bmi-img {
  width: 100%; /* ✅ add this */
  max-width: 1103px;
  position: absolute;
  bottom: 0;
  right: 163px;
  top: -160px;
  scale: 1.7;
}

.bmi-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 
=====================
SPONSORSHIP SECTION
=====================
*/

.sponsorship-sec {
  padding: 80px 0;
}

.auto-scroll {
  padding-block: 80px;
  position: relative;
  overflow: hidden;
}

.auto-scroll:hover > .auto-scroll-items {
  cursor: pointer;
  animation-play-state: paused;
}

.auto-scroll-track {
  gap: 100px;
  animation: automatic 15s linear infinite;
}

.auto-scroll-items {
  width: 150px;
  flex-shrink: 0;
  /* position: absolute; */
}

.auto-scroll-items > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes automatic {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* 
====================
FOOTER SECTION
====================
*/

.footer-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}

.footer-top {
  padding-bottom: 90px;
  border-bottom: 1px solid var(--text-color-30);
}

.footer-left {
  max-width: 500px;
}

.footer-hdr1,
.footer-hdr2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
}

.social-list {
  width: 100%;
  margin-top: 22px;
  padding: 0;
}

.social-links {
  color: var(--text-color);
  font-size: 21px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.social-links:hover {
  color: var(--primary-color);
}

.social-links > i {
  transition: all 0.3s linear;
}

.social-links:hover > i {
  transform: rotate(-45deg) translateX(5px);
  color: var(--primary-color) !important;
}

.footer-right {
  max-width: 688px;
}

.footer-logo {
  max-width: 650px;
  margin-left: auto;
}

.footer-logo > a {
  width: 100%;
  height: 100%;
}

.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-list {
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

.footer-list > li:last-child {
  margin-right: 0 !important;
  border: none;
  padding-right: 0 !important;
}

.footer-list > li {
  margin-right: 14px;
}

.footer-links {
  font-size: 17px;
  border-right: 1px solid var(--text-color);
  padding-right: 20px;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.3s linear;
}

.footer-links:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.footer-btm {
  padding-top: 37px;
}

.footer-btm-left {
  max-width: 500px;
}

.footer-btm-left > p {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: var(--text-color);
}

.email-form {
  max-width: 690px;
}

.email-input-wrpr {
  max-width: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: var(--card-bg);
}

.email-input {
  background: none;
  border: none;
}

.email-input:focus {
  border: none;
  outline: none;
  color: var(--text-color);
}

/* .email-input:focus::placeholder {
  display: none;
} */

.email-input::placeholder {
  color: var(--text-color);
  font-size: 20px;
}

.email-input-wrpr > .nav-btn {
  margin: 0;
  padding: 20px 27px 20px 40px;
}

.email-input-wrpr > .nav-btn:hover img {
  transform: translateX(-3em) scale(3);
}

/* 
=====================
MEDIA QUERIES
=====================
*/

@media screen and (max-width: 1750px) {
  .title1 {
    color: var(--text-color);
    font-size: 100px;
    line-height: 100px;
  }

  .title3 {
    font-size: 20px;
    color: var(--text-color);
  }

  .title4 {
    font-size: 16px;
  }

  /* Header Section */
  .nav-btn {
    padding: 20px 10px 20px 17px;
    outline: 1px solid var(--primary-color);
    background-color: #fff7001a;
    backdrop-filter: blur(2px);
    border-radius: 37.5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
  }

  .navbar-brand {
    width: 150px;
  }

  .nav-link {
    padding: 14px 14px !important;
    color: var(--text-color);
    font-size: 16px;
  }

  .nav-btn > img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-left: 0px;
  }

  /* Get in touch section */
  .get-in-cntn {
    padding: 20px;
    width: 100%;
    right: 0;
    top: -60px;
  }

  .questions {
    margin-block: 36px 24px;
  }

  .ansr {
    font-size: 16px;
  }

  .membership-prize > span {
    font-size: 80px;
  }

  .in-touch-btn {
    margin-block: 15px 12px;
  }
}

@media screen and (max-width: 1400px) {
  .title1 {
    font-size: 87px;
  }

  /* Header Section */
  .nav-btn {
    margin-top: 14px;
  }

  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-nav {
    background: none !important;
    border: none;
    backdrop-filter: none;
  }

  .navbar-toggler-icon {
    width: 2.2rem;
    background: none;
  }

  .nav-item {
    margin-right: 0;
  }

  .nav-item:hover {
    background: none;
  }

  .search-form {
    margin-bottom: 20px;
  }

  .search-wrpr {
    background-color: var(--hover-color);
    padding: 6px 10px;
  }

  /* Workout Section */
  .card-desc > span {
    font-size: 12px;
  }

  .img3 {
    left: 73px;
  }

  .img5 {
    left: 41px;
  }

  .img7 {
    top: -80.07px;
    right: 108px;
  }

  .img8 {
    max-width: 308px;
    top: -73.3px;
    left: 40px;
  }

  /* Get in touch Section */
  .feature-second {
    margin-left: 0px;
  }

  /* Discover Section */
  .discover-box .title2 {
    font-size: 36px;
  }

  .discover-box p {
    font-size: 27px;
  }

  .discover-box .card-btn > span {
    font-size: 25px !important;
  }

  /* BMI Section */
  .bmi-img-bg {
    left: 40%;
    transform: scale(1.1);
    top: 0px;
    bottom: 0;
  }

  .bmi-img {
    right: 162px;
    top: -82px;
    scale: 1.5;
  }

  /* Footer Section */
  .footer-list > li {
    margin-right: 13px;
  }

  .footer-links {
    padding-right: 13px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .title1 {
    font-size: 70px;
    line-height: 70px;
  }

  .title3 {
    font-size: 16px;
  }

  /* Modal Section */
  .input-wrpr {
    padding: 10px;
  }
  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 14px;
  }

  /* About Section */
  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 7.55px;
    height: 19px;
  }

  .smaller-yellow-line {
    margin-left: 27px;
  }

  .about-hdr {
    margin-bottom: 83px;
  }

  .about-right-desc {
    max-width: 100%;
  }

  .about-right-cntn {
    margin-top: 50px;
  }

  .about-hdr .about-title3::before {
    top: -26%;
  }

  /* Workout Section */
  .card-bottom {
    margin-top: 10px;
  }

  .card-btn > span {
    font-size: 20px;
  }

  .card-desc {
    font-size: 19px;
    line-height: 18px;
  }

  .card-desc > span {
    font-size: 9px;
  }

  .img4 {
    top: -30.3px;
    right: 76.46px;
    left: 0;
  }

  .img7 {
    top: -32.07px;
    right: 80px;
  }

  .img8 {
    max-width: 246px;
    top: -56.3px;
    left: -2px;
  }

  /* Get in touch Section */
  .get-in-cntn {
    position: relative;
    margin: 0 auto;
  }

  .ansr {
    opacity: 1;
  }

  .feature-second {
    margin-left: 24px;
  }

  .get-in-form {
    width: 100%;
    margin-block: 0 30px;
  }

  /* How it works section */
  .how-title {
    margin-top: 20px;
  }

  .step-num {
    left: 43%;
  }

  .step-desc {
    font-size: 15px;
    line-height: 21px;
  }

  .step > p {
    font-size: 18px;
    margin-bottom: 10px !important;
  }

  /* BMI Section */
  .bmi-row {
    flex-direction: column-reverse;
  }

  .bmi-img-wrpr {
    margin-top: 80px;
  }

  /* Footer Section */
  .footer-row {
    flex-direction: column-reverse;
  }

  .footer-right {
    margin: 0 auto 80px;
  }

  .footer-left {
    margin: 0 auto;
  }

  .footer-list {
    margin-top: 30px;
    justify-content: center;
  }

  .footer-hdr1,
  .footer-hdr2 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 62px;
    line-height: 70px;
  }

  /* Header Section */
  .nav-link {
    padding: 13px 13px !important;
  }

  .offcanvas {
    padding: 20px;
    max-height: fit-content;
  }

  /* Modal Section */
  .input-wrpr {
    padding: 8px;
  }

  .input-wrpr > img {
    margin-right: 10px;
  }

  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 12px;
  }

  .line2 {
    font-size: 14px;
  }

  input[type="radio"] {
    width: 14px;
    height: 14px;
  }

  /* About Section */
  .about-title3::before {
    width: 16px;
    height: 16px;
    bottom: 10%;
    left: -21px;
    border: 4px solid var(--primary-color);
  }

  .about-yellow-line {
    margin-left: 10px !important;
  }

  .about-yellow-line::before {
    left: 30px !important;
  }

  /* Service Section */
  .service-hdr {
    margin-bottom: 30px;
  }

  .training-card {
    margin: 0 auto;
  }

  /* Workout Section */
  .element-card {
    width: 100%;
    margin: 0 auto 50px;
  }

  .card-desc {
    font-size: 27px;
    line-height: 18px;
  }

  .card-desc > span {
    font-size: 16px;
  }

  .cata-card-img {
    top: -60px;
    left: 136px;
    bottom: 0;
  }

  .img2 {
    max-width: 296.68px;
    left: 150px;
  }

  .img3 {
    top: -66px;
    left: 149px;
  }

  .img4 {
    top: -60px;
    right: 124.46px;
    left: 0;
  }

  .img5 {
    max-width: 401.94px;
    left: 176px;
    top: -62.3px;
  }

  .img7 {
    top: -40.07px;
    right: 275px;
    left: 0;
  }

  .img8 {
    max-width: 473px;
    top: -55.3px;
    left: 104px;
  }

  /* Discover Section */

  .discover-box {
    padding: 46px;
  }

  .discover-box .title2 {
    font-size: 30px;
  }

  .discover-box p {
    font-size: 21px;
  }

  .discover-box .card-btn > span {
    font-size: 19px !important;
  }

  .discover-box .card-btn {
    padding: 14px 20px;
  }

  /* BMI Section */
  .bmi-img-bg {
    left: 28%;
    transform: scale(1.1);
    top: 0px;
    bottom: 0;
  }

  .bmi-img {
    right: 118px;
    top: -121px;
    scale: 1.6;
  }

  /* Sponsorship Section */
  .auto-scroll {
    margin-bottom: 0px;
  }

  .auto-scroll-items {
    width: 130px;
    animation-duration: 13s;
  }

  /* Footer Section */
  .footer-btm-left {
    margin: 0 auto 50px;
  }

  .email-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .title2 {
    font-size: 36px;
  }

  .title3 {
    font-size: 14px;
  }

  /* Modal */
  .modal-desc {
    margin-block: 0 24px;
    font-size: 16px;
    line-height: 23px;
  }

  .modal-right {
    margin-top: 12px;
  }

  .modal-right-cntn {
    margin-top: 260px;
  }

  /* Banner Section */
  .banner-sec {
    padding: 350px 0 60px;
  }

  .about-yellow-line {
    margin-left: 14px !important;
  }

  /* About Section */
  .about-img {
    margin: 50px auto 20px;
  }

  .about-right-desc {
    margin: 30px 0 0;
  }

  .about-right-desc-hdr {
    font-size: 28px;
  }

  .about-desc-row {
    margin-top: 20px;
  }

  .right-list {
    margin-block: 40px 0;
  }

  /* Service Section */
  .training-hdr {
    font-size: 30px;
    margin-bottom: 17px;
  }

  .training-card > p {
    font-size: 14px;
    line-height: 16px;
  }

  /* Workout Section */
  .grid {
    margin-top: 90px;
  }

  .element-card {
    margin: 0 auto 40px;
  }

  .card-top {
    height: 300px;
    padding: 12px;
  }

  .cata-card-img {
    left: 40px;
  }

  .img2 {
    left: 26px;
  }

  .img3 {
    top: -53px;
    left: 28px;
  }

  .img4 {
    top: -42px;
    right: 98.46px;
    left: 0px;
  }

  .img5 {
    left: 18px;
    top: -55.3px;
  }

  .img7 {
    top: -52.07px;
    right: 128px;
    left: 0;
  }

  .img8 {
    top: -56.3px;
    left: -8px;
  }

  .card-btn {
    padding: 20px 10px;
  }

  .numbering {
    max-width: 39px;
    margin-block: 1px 13px;
  }

  .card-desc {
    font-size: 22px;
    line-height: 21px;
  }

  .card-desc > span {
    font-size: 11px;
  }

  /* Get in touch Section */
  .how-section {
    padding: 70px 0 60px;
  }

  .how-steps {
    width: 100%;
    margin-top: 55px;
    border: 1px solid var(--text-color-16);
  }

  .get-title3 {
    margin-left: 17px;
  }

  #fname {
    margin-bottom: 10px;
  }

  .text-area-hd {
    margin-top: 10px;
  }

  .feature-second {
    margin-left: 16px;
  }

  /* How It works section */
  .step > p {
    font-size: 15px;
    margin-block: 10px 0 !important;
  }

  .step-desc {
    font-size: 12px;
    line-height: 21px;
  }

  /* Discover Section */

  .discover-box {
    padding: 30px;
  }

  /* BMI Section */
  .bmi-sec {
    padding: 60px 0;
  }

  .bmi-form .card-btn {
    margin-top: 30px;
  }

  /* Sponsorship Section */
  .auto-scroll-items {
    width: 90px;
    animation-duration: 9s;
  }

  /* Footer Section */
  .footer-list > li {
    margin-right: 11px;
  }

  .footer-links {
    padding-right: 11px;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 35px;
    line-height: 36px;
  }

  .title2 {
    font-size: 24px;
  }

  .title3 {
    font-size: 14px;
    margin-left: 8px;
  }

  /* Header Section */
  .navbar-brand {
    width: 130px;
  }

  /* Modal */
  .modal-content {
    padding: 5px;
    border-radius: 10px;
  }

  .modal-header > .smaller-yellow-line {
    margin-left: 61px;
  }

  #submit-btn {
    font-size: 14px;
  }

  .submit-btn-wrpr {
    padding: 12px;
  }

  .modal-right {
    padding: 15px;
  }

  .modal-right-cntn > p {
    font-size: 14px;
  }

  .modal-btm > p {
    font-size: 14px;
  }

  .line1 {
    font-size: 12px;
  }

  input[type="radio"] {
    width: 15px;
    height: 12px;
  }

  .line2 {
    font-size: 14px;
    margin-left: 7px;
  }

  .modal-right-cntn {
    margin-top: 140px;
  }

  /* Banner Section */
  .banner-sec {
    padding: 290px 0 40px;
    min-height: 50vh;
  }

  /* About Section */
  .about-sec {
    padding: 60px 0 30px;
  }

  .about-hdr {
    margin-bottom: 30px;
  }

  .about-list > li {
    margin-bottom: 16px;
    font-size: 14px;
  }

  .about-right-desc-hdr {
    font-size: 18px;
  }

  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 5.78px;
    height: 14px;
  }

  .about-yellow-line {
    margin-left: 9px !important;
  }

  .about-yellow-line::before {
    left: 11px !important;
  }

  .about-yellow-line::after {
    left: 23px;
  }

  .about-right-desc {
    margin: 20px 0 0;
  }

  .desc {
    font-size: 14px;
    line-height: 22px;
  }

  .right-desc {
    margin-block: 10px;
  }

  .phone-sec {
    align-items: center;
  }

  .phone-contact {
    margin-left: 0px;
    max-width: 261px;
    font-size: 18px;
  }

  .phone-contact > span {
    font-size: 26px;
    color: var(--primary-color);
  }

  /* Service Section */
  .service-sec {
    padding: 40px 0;
  }

  .training-card {
    padding: 15px;
  }

  .training-hdr {
    font-size: 25px;
    margin-bottom: 14px;
  }

  .training-card > p {
    font-size: 12px;
    line-height: 20px;
  }

  /* Workout Section */
  .work-hdr {
    padding: 50px 0;
  }

  .work-right-hdr {
    margin-top: 40px;
  }

  .number > p {
    font-size: 61px;
    line-height: 25px;
  }

  .small-txt {
    font-size: 24px;
  }

  .work-para {
    font-size: 14px;
    line-height: 24px;
  }

  .button-slider {
    padding: 8px;
  }

  .btn-cntn {
    font-size: 12px;
    padding: 4px 8px !important;
  }

  .grid {
    margin-top: 60px;
  }

  .element-card {
    padding: 12px;
  }

  .card-top {
    height: 220px;
    padding: 10px;
  }

  .card-type {
    padding: 3px 8px;
    font-size: 12px;
  }

  .card-top > .yellow-line {
    position: absolute;
    right: 38px;
    bottom: 37px;
  }

  .author {
    font-size: 14px;
  }

  .cata-card-img {
    left: 3px;
    top: -40px;
  }

  .img2 {
    left: 5px;
  }

  .img3 {
    top: -42px;
    left: 4px;
  }

  .img4 {
    top: -25px;
    right: -6.54px;
    left: 0px;
  }

  .img5 {
    left: 2px;
    top: -40.3px;
  }

  .img7 {
    top: -30.07px;
    right: 63px;
    left: 0;
  }

  .img8 {
    top: -26.3px;
    left: -9px;
  }

  .card-btn {
    margin-top: 10px;
    padding: 9px 0;
  }

  .card-btn > span {
    font-size: 18px;
  }

  /* Get in touch Section */
  .get-title3 {
    margin-left: 50px !important;
  }

  .get-in-cntn {
    padding: 16px;
  }

  .questions {
    margin-block: 12px;
    font-size: 12px;
  }

  .ansr {
    font-size: 12px;
    line-height: 16px;
  }

  .feature-second {
    margin: 10px 0 0;
  }

  .membership-prize > span {
    font-size: 50px;
  }

  .offer {
    font-size: 12px;
    letter-spacing: 3.08px;
  }

  .in-touch-btn {
    margin-block: 0px 2px;
  }

  .get-in-form {
    margin-block: 0px 20px;
  }

  .form-btn {
    padding: 8px 50px;
    margin-top: 13px;
  }

  .in-touch-btn > .form-btn {
    font-size: 12px;
  }

  .black-line,
  .black-line::after,
  .black-line::before {
    width: 6.36px;
    height: 10.17px;
  }

  .label-hd {
    margin-bottom: 4px;
    font-size: 12px;
  }

  /* How it works section */

  .step > .smaller-yellow-line {
    margin-left: -21px !important;
  }

  .step {
    border-bottom: 1px solid var(--text-color-16);
  }

  .step-num {
    left: 46%;
  }

  /* Discover Section */

  .discover-box {
    padding: 26px;
  }

  .discover-box .title2 {
    font-size: 20px;
  }

  .discover-box p {
    font-size: 15px;
    margin: 16px 0;
  }

  .discover-box .card-btn > span {
    font-size: 14px !important;
  }

  /* BMI section */
  .bmi-img-wrpr {
    margin-top: 30px;
  }

  .bmi-sec .title2 {
    margin-block: 0px 30px;
  }

  .bmi-img-bg {
    left: 16%;
    transform: scale(0.7);
  }

  .bmi-img {
    right: 87px;
    top: -234px;
    scale: 2.3;
  }

  .bmi-desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .bmi-form {
    padding-block: 0 20px;
  }

  /* Sponsor Section */
  .sponsership-sec {
    padding: 20px 0;
  }

  .auto-scroll {
    padding-block: 60px 40px;
  }

  .auto-scroll-items {
    width: 70px;
    animation-duration: 7s;
  }

  /* Footer Section */
  .footer-sec {
    padding: 60px 0;
  }

  .footer-top {
    padding-bottom: 32px;
  }

  .footer-hdr1,
  .footer-hdr2 {
    font-size: 30px;
    line-height: 39px;
  }

  .social-list {
    margin-top: 27px;
  }

  .social-links {
    font-size: 16px;
  }

  .footer-list > li {
    margin-right: 2px;
  }

  .footer-links {
    padding-right: 10px;
    font-size: 10px;
  }

  .footer-btm-left > p {
    font-size: 16px;
  }

  .email-input-wrpr {
    padding: 9px 13px;
  }

  .email-input-wrpr > .nav-btn {
    padding: 20px 27px 20px 26px;
  }

  .footer-btn > span {
    display: none;
  }

  .email-input::placeholder {
    font-size: 14px;
  }

  .email-input-wrpr > .nav-btn:hover img {
    transform: scale(2);
  }
}

@media screen and (max-width: 425px) {
  /* Discover Section */

  .discover-box {
    padding: 10px;
  }

  .discover-box p {
    font-size: 16px;
    margin: 15px 0;
  }

  .discover-box .card-btn {
    padding: 7px 10px;
  }

  /* Footer Section */
  .footer-links {
    padding-right: 10px;
    font-size: 8px;
  }

  .email-input-wrpr > .nav-btn {
    padding: 10px 15px;
  }

  .nav-btn > span {
    display: none;
  }

  .email-input-wrpr > .nav-btn:hover img {
    transform: rotate(-45deg);
  }
}
