@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Akira";
  src: url("../assets/fonts/Akira-Expanded-Font/Akira\ Expanded\ Demo.otf");
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --primary-color: #f2ff00;
  --tertiary-color: #000;
  --card-bg: #1e1e1e;
  --hover-color: #6a6a6a;
  --text-color-10: #ffffff1a;
  --text-color-16: #ffffff29;
  --text-color-50: #ffffff80;
  --text-color-30: #ffffff4d;
}

body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
  background-color: var(--tertiary-color);
}

.container {
  max-width: 1820px;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title1 {
  font-family: "Akira", sans-serif;
  font-size: 141px;
  color: var(--text-color);
  line-height: 130px;
}

.title2 {
  font-family: "Clash Display";
  font-size: 48px;
  font-weight: 400;
}

.title3 {
  font-family: "Akira", sans-serif;
  font-size: 25px;
  color: var(--text-color);
}

.title4 {
  font-family: "Akira", sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: var(--text-color);
}

/* 
=================
HEADER SECTION
=================
*/

.hdr-sec {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 99;
}

.navbar-brand {
  width: 172px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offcanvas {
  flex-direction: row !important;
  align-items: center;
}

.navbar-nav {
  max-width: 1305px;
  padding: 3px;
  backdrop-filter: blur(13px);
  margin: 0 auto;
  /* height: 74px; */
  align-items: center;
  border-radius: 56px;
  background-color: var(--text-color-16) !important;
  border: 1px solid #ffffff42;
}

.navbar-nav li:nth-child(6) {
  margin-right: 0;
}

.nav-item {
  margin-right: 5px;
}

.nav-link {
  padding: 21px 20px !important;
  color: var(--text-color);
  font-size: 18px;
  transition: all 0.5s ease-in;
}

.nav-link:hover {
  color: var(--text-color);
  border-radius: 110px;
  background-color: var(--tertiary-color);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background: linear-gradient(
      to top,
      rgba(255, 251, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #000000 !important;
  padding: 5px 19px 0 5px;
  border-radius: 10px;
}

.dropdown-menu > li {
  margin-bottom: 5px;
}

.dropdown-item {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, #4e4e4e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  border: 1px solid #ffe6004d;
  width: 220px !important;
  border-radius: 300px;
}

.navbar-nav .nav-link.show {
  color: var(--text-color) !important;
}

.search-form {
  max-width: 370px;
}

.search-wrpr {
  width: 100%;
  padding: 15px 15px;
  border-radius: 74px;
  background-color: var(--tertiary-color);
}

.search-wrpr > label > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.search-input {
  background: none;
  border: none;
}

.search-input::placeholder {
  color: var(--text-color) !important;
  font-size: 16px;
}

.search-input:focus {
  background: none;
  outline: none !important;
  border: none !important;
}

.cart-bg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.cart-bg > img {
  width: 24px;
  height: 24px;
}

.nav-btn > img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-left: 10px;
}

.nav-btn {
  padding: 20px 20px 20px 41px;
  border: 1px solid var(--primary-color);
  background-color: #fff7001a;
  backdrop-filter: blur(2px);
  border-radius: 37.5px;
  transition: all 0.2s;
  overflow: hidden;
}

.nav-btn > span {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.nav-btn img {
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: var(--primary-color);
}

.nav-btn:hover span {
  transform: translateX(16em);
}

.nav-btn:hover img {
  transform: translateX(-6em) scale(1.8);
}

.active {
  border-radius: 110px;
  background-color: var(--primary-color);
  color: var(--tertiary-color) !important;
}

.active:hover {
  background: var(--primary-color) !important;
}

/* 
=============
Modal Part
=============
*/

.modal-backdrop {
  z-index: 1050 !important;
}

.modal {
  z-index: 1055 !important;
}

.modal-dialog {
  max-width: 1140px;
}

.modal-content {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f2ff00 -28%, #000000 100%);
  position: relative;
}

.modal-header > .title3 {
  margin-left: 0 !important;
  margin-top: 10px;
  font-size: 27px;
}

.modal-desc {
  max-width: 455px;
  margin-block: 0 50px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}

.modal-form {
  width: 100%;
}

.input-wrpr {
  width: 100%;
  padding: 15px;
  background-color: var(--text-color-10);
  border: 1px solid var(--text-color-30);
  margin-bottom: 12px;
}

.input-wrpr > img {
  margin-right: 10px;
}

.input-wrpr > input:focus {
  border: none;
  outline: none !important;
}

#fname,
#lname,
#emailname,
#gender,
#age,
#phone,
#weight,
#goal,
#password {
  width: 100%;
  background: none;
  border: none;
}

#fname::placeholder,
#lname::placeholder,
#emailname::placeholder,
#gender::placeholder,
#age::placeholder,
#phone::placeholder,
#weight::placeholder,
#goal::placeholder,
#password::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 15px;
}

.eye-close {
  margin-left: 200px;
}

.terms {
  margin-block: 12px 24px;
}

.terms > span {
  color: #4e4e4e;
  font-size: 17px;
  margin-left: 10px;
}

.terms > a {
  color: var(--text-color);
  font-size: 17px;
  text-decoration: underline;
}

.submit-btn-wrpr {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 37.5px;
  padding: 20px 20px 20px 41px;
}

#submit-btn {
  background: none !important;
  border: none !important;
  font-weight: 500;
  font-size: 18px;
  color: var(--tertiary-color);
}

.modal-right {
  background: url("../assets/modal-bg.png") no-repeat center/cover;
  padding: 50px;
  border-radius: 10px;
}

.modal-logo {
  width: 90px;
  margin-left: auto;
}

.modal-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-right-cntn {
  margin-top: 400px;
}

.modal-right-cntn > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.5;
}

.modal-btn > p {
  font-weight: 600;
  font-size: 18px;
  max-width: 186px;
  color: var(--text-color);
}

.line1 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--tertiary-color);
  border: 2px solid var(--text-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.line2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--text-color);
  margin-left: 10px;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--text-color);
  opacity: 1 !important;
  border: 1px solid var(--tertiary-color) !important;
}

/* 
==================
BANNER SECTION
==================
*/

.banner-sec {
  padding: 400px 0 122px;
  min-height: 100vh;
  background: url("../assets/Banner-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
  position: relative;
}

.banner-sec::before {
  content: "";
  z-index: 2;
  filter: blur(872px);
  background: #f7e700;
  width: 627px;
  height: 627px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.banner-left {
  max-width: 550px;
  margin-right: auto;
}

.left-cntn-text {
  font-size: 27px;
  font-weight: 500;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.member-img {
  margin-block: 40px;
}

.member-circle {
  width: 98px;
  height: 98px;
  animation: wave 1.5s ease-in-out infinite;
}

.member-circle > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(0);
  }
}

.member-img li:nth-child(1) {
  animation-delay: 0.01s;
}

.member-img li:nth-child(2) {
  animation-delay: 0.1s;
}

.member-img li:nth-child(3) {
  animation-delay: 0.19s;
}

.member-img li:nth-child(4) {
  animation-delay: 0.28s;
}

.member-img li:nth-child(2) img {
  transform: translateX(-26px);
}

.member-img li:nth-child(3) img {
  transform: translateX(-52px);
}

.member-img li:nth-child(4) img {
  transform: translateX(-78px);
}

.member-text {
  max-width: 300px;
  font-size: 27px;
  font-weight: 500;
  color: var(--text-color-50);
}

.member-text > span {
  color: var(--primary-color);
}

.scroll {
  margin-top: 40px;
  font-size: 27px;
  font-weight: 500;
  padding-left: 16.5px;
  color: var(--text-color);
  border-left: 1px solid var(--text-color);
}

.banner-right {
  max-width: 1170px;
  margin-left: auto;
  position: relative;
}

.title1 > span {
  color: var(--primary-color);
}

.yellow-line {
  transform: skewX(-30deg);
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
  position: relative;
}

.yellow-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}

.yellow-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}

.banner-btn {
  max-width: 317px;
  color: var(--text-color);
  font-size: 33px;
  border-bottom: 1px solid var(--text-color);
  padding: 0 !important;
  margin-top: 100px;
}

.banner-btn:hover {
  color: var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-color) !important;
}

.up-arrow {
  width: 24px;
  height: 27px;
  object-fit: cover;
}

/* 
====================
TRAINING SECTION
====================
*/

.category-sec {
  padding: 20px 0;
  position: relative;
  background-color: var(--tertiary-color);
}

.swiper {
  width: 100%;
  overflow: visible;
}

.myswiper {
  overflow: hidden;
}

.swiper-slide {
  max-width: 640px;
  height: 380.1px;
  background-color: var(--tertiary-color);
  padding: 24px;
  border: 1px solid var(--text-color-30);
  margin: 0 auto;
  overflow: visible;
}

.card {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 50px;
  position: relative !important;
}

.card1 {
  background: url("../assets/trainbg-1.png") no-repeat center/cover;
}

.card2 {
  background: url("../assets/trainbg-2.png") no-repeat center/cover;
}

.card3 {
  background: url("../assets/trainbg-3.png") no-repeat center/cover;
}

.smaller-yellow-line {
  margin-left: 30px !important;
}

.smaller-yellow-line,
.smaller-yellow-line::after,
.smaller-yellow-line::before {
  width: 11.55px;
  height: 27.55px;
}

.smaller-yellow-line::before {
  left: -22px;
}

.smaller-yellow-line::after {
  left: 22px;
}

.card p {
  font-family: "Akira";
  font-size: 139px;
  color: var(--card-bg);
  -webkit-text-stroke: 1px var(--text-color-50);
  margin: 0 !important;
}

.train-img1 {
  max-width: 196.06px;
  position: absolute;
  right: 19.94px;
  bottom: 0;
}

.train-img1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.train-img2 {
  max-width: 201.47px;
  position: absolute;
  right: 38.53px;
  bottom: 0.1px;
}

.train-img2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.train-img3 {
  max-width: 485.44px;
  position: absolute;
  right: 14.5px;
  bottom: 0.1px;
}

.train-img3 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 
========================
ABOUT GYM SECTION
========================
*/

.aboutgym-sec {
  padding: 160px 0 60px;
  background-color: var(--tertiary-color);
}

.about-left-hdr .title3 {
  font-family: "Akira";
  font-size: 27px;
  font-weight: 800;
  margin-left: 50px;
}

.about-left-hdr .title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.about-yellow-line {
  top: 7px;
  left: 9px;
}

.about-yellow-line,
.about-yellow-line::after,
.about-yellow-line::before {
  width: 8.55px;
  height: 22px;
}

.about-yellow-line::before {
  left: -15px;
}

.about-yellow-line::after {
  left: 15px;
}

.about-img {
  max-width: 825px;
  margin-top: 166.73px;
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-right-hdr .title2 {
  font-family: "Clash Display";
  font-size: 48px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-right-cntn {
  max-width: 825px;
  margin: 80px auto 0;
}

.about-right-cntn p {
  font-size: 35px;
  font-weight: 500;
  color: var(--text-color);
}

.about-desc-row {
  margin-top: 30px;
}

.desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-50);
}

.call-img {
  max-width: 99.28px;
}

.call-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact > a {
  margin-left: 31px;
  max-width: 261px;
  font-family: "Clash Display";
  font-size: 23px;
  font-weight: 500;
  color: var(--text-color);
}

.contact > a > span {
  font-size: 31px;
  color: var(--primary-color);
}

/* 
=====================
SERVICE SECTION
=====================
*/

.service-sec {
  padding: 80px 0;
  background: var(--tertiary-color);
}

.service-title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.service-hdr .title3 {
  margin-left: 50px;
  font-size: 27px;
  font-weight: 800;
}

.service-cntn {
  max-width: 1160px;
  margin: 0 auto;
}

.training-list {
  width: 100%;
}

.training-list a {
  font-size: 45px;
  font-weight: 900;
  font-family: "Akira";
  padding: 65.55px 5px;
  color: var(--hover-color);
  border-bottom: 1px solid var(--text-color-30);
  position: relative;
  transition: all 0.3s linear;
}

.training-list > li:hover > a {
  color: var(--text-color);
}

.training-list > li:hover i {
  transform: rotate(-45deg) translateY(-2px);
}

/* 
===================
ABOUT SECTION
===================
*/

.about-sec {
  padding: 80px 0;
  background: url("../assets/about-bg-pic.png") no-repeat center/cover;
  background-attachment: fixed;
  background-color: var(--tertiary-color);
}

.about-hdr .title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -8%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.about-hdr .title3 {
  margin-left: 50px;
}

.about-img {
  max-width: 848px;
  margin-top: 169px;
}

.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}

.about-sec .title2 {
  font-family: "Clash Display";
  font-size: 48px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container {
  margin-top: 80px;
}

.about-card {
  background-color: var(--text-color-10);
  border: 1px solid;
  max-width: 412px;
  height: 289px;
  backdrop-filter: blur(60px);
  padding: 30px;
  margin-bottom: 24px;
}

.about-card i {
  color: var(--primary-color);
  margin-bottom: 22px;
}

.about-card > p {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  margin-top: 22px;
  opacity: 0.5;
}

.about-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(to right, #f2ff00 0%, rgba(242, 255, 0, 0) 100%),
    linear-gradient(to left, #f2ff00 0%, rgba(242, 255, 0, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

/* 
================
COACH SECTION
================
*/

.coach-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}

.coach-left-hdr .title3 {
  margin-left: 50px;
}

.coach-left-hdr .title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -8%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.coach-swiper {
  width: 100%;
  overflow: visible;
  margin-top: 80px;
}

.coach-slide {
  min-height: 500px;
  border: 1px solid #ffffff33;
}

.coach-card {
  min-height: 452px;
  padding: 317px 24px 24px;
  position: relative;
}

.coach1 {
  background: url("../assets/coach-cardbg-1.png") no-repeat center/cover;
}

.coach2 {
  background: url("../assets/coach-cardbg-2.png") no-repeat center/cover;
}

.coach3 {
  background: url("../assets/coach-cardbg-3.png") no-repeat center/cover;
}

.coach-img {
  max-width: 592px;
  position: absolute;
  top: -62px;
}

.coach-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coach-desc > .yellow-line,
.coach-desc > .yellow-line::after,
.coach-desc > .yellow-line::before {
  width: 6.35px;
  height: 15.17px;
}

.coach-desc > .yellow-line::before {
  left: 12px;
}

.coach-desc > .yellow-line {
  margin-left: 2px !important;
  bottom: 21px;
}

.coach-title {
  color: var(--text-color);
  font-weight: 900;
  font-family: "Akira";
  position: absolute;
  bottom: 85px;
  z-index: 999;
  margin-bottom: 15px;
}

.coach-name {
  font-family: "Clash Display";
  font-weight: 200;
  font-size: 53px;
  color: var(--text-color);
  position: absolute;
  z-index: 999;
}

.swiper-pagination {
  top: 110% !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  opacity: 1;
  background: var(--text-color-30);
}

/* 
===============
PLAN SECTION
===============
*/

.plan-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}

.plan-left-hdr .title3 {
  margin-left: 50px;
}

.plan-left-hdr .title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -8%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.plan-right-hdr .title2 {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plan-col {
  padding: 0 !important;
}

.plan-right-hdr {
  margin-bottom: 40px;
}

.plan-parent-box {
  max-width: 639.67px;
  height: 639px;
  padding: 24px;
  background-color: var(--tertiary-color);
  border: 1px solid var(--text-color-30);
  margin: 0 auto;
}

.plan-card {
  max-width: 591.67px;
  height: 585px;
  position: relative;
  background: url("../assets/coach-cardbg-1.png") no-repeat center/cover;
  padding: 24px 16px;
}

.plan-card .coach-title {
  top: 37px;
}

.plan-yellow-line,
.plan-yellow-line::after,
.plan-yellow-line::before {
  width: 6.36px;
  height: 15.17px;
}

.plan-yellow-line {
  margin-left: 16px !important;
}

.plan-yellow-line::before {
  left: -11px;
}

.plan-yellow-line::after {
  left: 11px;
}

.plan-title {
  margin-top: 10px;
}

.plan-para {
  font-size: 12px;
  line-height: 20px;
  color: var(--text-color);
  opacity: 0.5;
  margin-top: 24px;
}

.price-ben {
  margin-left: 0;
  padding-left: 0;
  margin-block: 70px;
}

.price-hdr {
  font-size: 53px;
  font-weight: 600;
  color: var(--text-color);
}

.price-hdr > sup {
  font-size: 22px;
  font-weight: 500;
  top: -1.5em;
}

.price-ben > li {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.price-ben > li > img {
  margin-right: 10px;
}

.plan-btn {
  padding: 20px 90px;
  width: 100%;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  border-block: 1px solid var(--text-color-30);
  border-inline: 4px solid var(--primary-color);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.plan-btn::before,
.plan-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: var(--primary-color);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.plan-btn::before {
  left: -10px;
}

.plan-btn::after {
  right: -10px;
}

.plan-btn:hover::before,
.plan-btn:hover::after {
  width: 58%;
}

.plan-btn:hover {
  color: var(--tertiary-color);
}

.yellow-skew-lines {
  position: absolute;
  right: 24px;
  top: 25%;
}

.yellow-skew-lines > span {
  width: 15px;
  height: 38px;
  background-color: var(--primary-color);
  transform: skew(45deg);
}

.sec-swiper-pg {
  top: 106% !important;
}

/* 
===================
LOCATION SECTION
===================
*/

.location-sec {
  padding: 90px 0;
  background-color: var(--tertiary-color);
}

.loc-hdr {
  padding: 80px 0;
  background: url(../assets/Loc-bg.png) no-repeat center/cover;
}

.location-left-hdr .title3 {
  margin-left: 50px;
}

.location-left-hdr .title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -8%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.location-left-hdr .about-yellow-line {
  top: 2px;
}

.location-right-hdr {
  margin-top: 80px;
}

.location-right-hdr .title2 .fade-span {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 0) 109%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.location-title2 > .yellow-span {
  -webkit-text-fill-color: var(--primary-color);
}

.location-title2 > .white-text {
  -webkit-text-fill-color: var(--text-color);
}

.location-row {
  margin-top: 30px;
  align-items: center;
}

.number > p {
  max-width: 186px;
  font-size: 81px;
  line-height: 36px;
  font-weight: bold;
  color: var(--text-color);
  /* padding-right: 30px; */
  border-right: 1px solid var(--text-color);
}

.yellow-plus {
  color: var(--primary-color);
}

.small-txt {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-color);
}

.loc-para {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

.loc-img-sec {
  padding: 0 0 80px;
}

.loc-img {
  max-width: 1720px;
}

.loc-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 
===============
REAL SECTION
===============
*/

.real-sec {
  background: url("../assets/real-bg.png") no-repeat center / cover;
  padding: 468px 0 80px;
  position: relative;
  z-index: 1;
}

.real-desc {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 24px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.real-img {
  max-width: 678px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: -12%;
  margin: 0 auto;
}

.real-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.real-hdr > span {
  font-family: "Akira";
  font-size: 43px;
  font-weight: 800;
  color: var(--text-color);
  margin: 0 auto;
}

.real-hdr p {
  font-family: "Akira";
  font-size: 77px;
  font-weight: 800;
  color: var(--primary-color);
  margin: 20px auto;
}

.real-hdr {
  font-size: 30px;
}

.real-yellow {
  margin-block: 50px;
}

.real-yellow > .yellow-line::after {
  left: 16px;
}

.real-desc p {
  font-family: "Clash display";
  font-size: 34px;
}

/* 
==================
FOOTER SECTION
==================
*/

.ftr-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}

.ftr-top {
  padding-bottom: 90px;
  border-bottom: 1px solid var(--text-color-30);
}

.ftr-left {
  max-width: 500px;
}

.ftr-hdr1,
.ftr-hdr2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
}

.scl-list {
  width: 100%;
  margin-top: 50px;
}

.scl-links {
  color: var(--text-color);
  font-size: 21px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.scl-links:hover {
  color: var(--primary-color);
}

.scl-links > i {
  transition: all 0.3s linear;
}

.scl-links:hover > i {
  transform: rotate(-45deg) translateX(5px);
  color: var(--primary-color) !important;
}

.ftr-right {
  max-width: 688px;
}

.ftr-logo {
  max-width: 650px;
  margin-left: auto;
}

.ftr-logo > a {
  width: 100%;
  height: 100%;
}

.ftr-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ftr-list {
  width: 100%;
  margin-top: 20px;
}

.ftr-list > li:last-child {
  margin-right: 0 !important;
  border: none;
  padding-right: 0 !important;
}

.ftr-list > li {
  margin-right: 14px;
}

.ftr-links {
  font-size: 17px;
  border-right: 1px solid var(--text-color);
  padding-right: 20px;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.3s linear;
}

.ftr-links:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.ftr-btm {
  padding-top: 37px;
}

.ftr-btm-left {
  max-width: 500px;
}

.ftr-btm-left > p {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: var(--text-color);
}

.email-form {
  max-width: 690px;
}

.email-input-wrpr {
  max-width: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: var(--card-bg);
}

.email-input {
  background: none;
  border: none;
}

.email-input:focus {
  border: none;
  outline: none;
}

.email-input::placeholder {
  color: var(--text-color);
  font-size: 20px;
}

.email-input-wrpr > .nav-btn {
  margin: 0;
  padding: 20px 27px 20px 40px;
}

.email-input-wrpr > .nav-btn:hover img {
  transform: translateX(-3em) scale(3);
}

/* 
==================
MEDIA QUERIES
==================
*/

@media screen and (max-width: 1750px) {
  .title1 {
    color: var(--text-color);
    font-size: 100px;
    line-height: 100px;
  }

  .title3 {
    font-size: 20px;
    color: var(--text-color);
  }

  .title4 {
    font-size: 16px;
  }

  /* Header Section */
  .nav-btn {
    padding: 20px 10px 20px 17px;
    outline: 1px solid var(--primary-color);
    background-color: #fff7001a;
    backdrop-filter: blur(2px);
    border-radius: 37.5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
  }

  .navbar-brand {
    width: 150px;
  }

  .nav-link {
    padding: 14px 14px !important;
    color: var(--text-color);
    font-size: 16px;
  }

  .nav-btn > img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-left: 0px;
  }

  /* Banner Section */
  .banner-sec {
    padding-bottom: 60px;
  }

  .banner-btn {
    max-width: 252px;
    font-size: 25px;
    margin-top: 60px;
  }

  .member-circle {
    margin-block: 30px;
  }

  .member-text {
    max-width: 300px;
    font-size: 20px;
  }

  .yellow-line {
    margin-left: 30px;
  }

  /* Training Section */
  .train-img1 {
    width: 181.06px;
    position: absolute;
    right: -23.06px;
    bottom: 0.1px;
  }
  .train-img2 {
    width: 184.47px;
    position: absolute;
    right: -27.47px;
    bottom: 0.1px;
  }
  .train-img3 {
    width: 380.44px;
    position: absolute;
    right: -31.5px;
    bottom: 0.1px;
  }

  .card p {
    font-family: "Akira";
    font-size: 114px;
    color: var(--card-bg);
    -webkit-text-stroke: 1px var(--text-color-50);
    margin: 0 !important;
  }

  /* About Gym Section */
  .about-right-cntn {
    max-width: 825px;
    margin: 28px auto 0;
  }

  /* Service Section */
  .training-list a {
    font-size: 28px;
    font-weight: 900;
    padding: 50px 0px;
  }

  /* About Section */
  .about-hdr .about-yellow-line {
    top: 2%;
  }

  .about-card {
    padding: 20px;
    margin-bottom: 20px;
  }

  .about-card > p {
    font-size: 18px;
    margin-top: 2px;
    opacity: 0.5;
  }

  .about-card i {
    margin-bottom: 11px;
  }

  /* Coach Section */
  .coach-left-hdr .yellow-line {
    top: 1px;
  }

  .coach-left-hdr .title3::before {
    width: 20px;
    height: 20px;
    top: -3%;
    border: 4px solid var(--primary-color);
  }

  .coach-left-hdr .about-yellow-line,
  .coach-left-hdr .about-yellow-line::after,
  .coach-left-hdr .about-yellow-line::before {
    width: 7px;
    height: 18px;
  }

  /* Plan Section */
  .plan-left-hdr .title3::before {
    width: 20px;
    height: 20px;
    top: 2%;
    left: -36px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    border: 5px solid var(--primary-color);
  }

  .plan-left-hdr .about-yellow-line,
  .plan-left-hdr .about-yellow-line::after,
  .plan-left-hdr .about-yellow-line::before {
    width: 7px;
    height: 20px;
    top: 0;
  }

  .yellow-skew-lines {
    top: 18%;
  }
}

@media screen and (max-width: 1400px) {
  .title1 {
    font-size: 87px;
    line-height: 83px;
  }

  /* Header Section */

  .nav-btn {
    margin-top: 14px;
  }

  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-nav {
    background: none !important;
    border: none;
    backdrop-filter: none;
  }

  .navbar-toggler-icon {
    width: 2.2rem;
    background: none;
  }

  .nav-item {
    margin-right: 0;
  }

  .nav-item:hover {
    background: none;
  }

  .search-form {
    margin-bottom: 20px;
  }

  .search-wrpr {
    background-color: var(--hover-color);
    padding: 6px 10px;
  }

  /* Banner Section */
  .left-cntn-text {
    font-size: 22px;
  }

  .member-text {
    max-width: 300px;
    font-size: 18px;
  }

  .scroll {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    padding-left: 16.5px;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .member-img {
    margin-block: 25px;
  }

  .member-circle {
    width: 76px;
    height: 76px;
  }

  .banner-btn {
    max-width: 252px;
    font-size: 21px;
    margin-top: 38px;
  }

  /* Training Section */
  .card {
    padding: 42px 0 36px 21px;
  }

  /* Service section */

  .training-list a {
    font-size: 22px;
    font-weight: 900;
    padding: 40px 0px;
  }

  /* Coach Section */
  .coach-name {
    font-size: 38px;
  }

  .coach-title {
    font-size: 14px;
    top: 70%;
  }

  .coach-card {
    padding: 196px 24px 24px;
  }

  .coach-name {
    font-size: 29px;
    top: 75%;
  }

  .coach-desc .yellow-line {
    top: 80px;
  }

  /* Footer Section */
  .ftr-list > li {
    margin-right: 13px;
  }

  .ftr-links {
    padding-right: 13px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .title1 {
    font-size: 70px;
    line-height: 70px;
  }

  .title3 {
    font-size: 16px;
  }

  /* Modal Section */
  .input-wrpr {
    padding: 10px;
  }
  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 14px;
  }

  /* Banner Section */
  .left-cntn-text {
    font-size: 18px;
  }

  .yellow-line {
    margin-left: 40px;
  }

  /* Training Section */
  .card {
    padding: 30px 0 27px 21px;
  }
  .smaller-yellow-line {
    margin-left: 50px !important;
  }
  .card p {
    font-size: 90px;
  }
  .train-img3 {
    width: 323.44px;
    right: -32.5px;
    bottom: 0.1px;
  }

  /* About Gym Section */
  .about-left-hdr .title3::before {
    width: 16px;
    height: 16px;
    top: 14%;
    left: -22px;
    border: 4px solid var(--primary-color);
  }

  .about-img {
    margin: 130px auto 50px;
  }
  .about-right-cntn {
    max-width: 100%;
    margin: 50px 0 0;
  }

  /* Service Section */
  .service-cntn {
    margin-top: 40px;
  }

  .service-title3::before {
    width: 16px;
    height: 16px;
    border: 4px solid var(--primary-color);
  }

  /* About Section */
  .about-card {
    margin: 0 auto 20px;
  }

  /* Coach Section */
  .coach-card {
    padding: 154px 18px;
  }

  .coach-img {
    top: 10%;
  }

  .coach-name {
    font-size: 29px;
    top: 75%;
  }

  .coach-title {
    top: 70%;
  }

  /* Plan Section */
  .plan-title {
    font-size: 16px !important;
  }

  /* Location Section */
  .location-title2 {
    margin-block: 20px;
  }

  .location-left-hdr .title3::before {
    width: 20px;
    height: 20px;
  }

  .location-left-hdr .about-yellow-line {
    top: -3px;
    left: -4px;
  }

  .location-left-hdr .about-yellow-line,
  .location-left-hdr .about-yellow-line::after,
  .location-left-hdr .about-yellow-line::before {
    height: 20px;
    width: 6px;
  }

  /* Footer Section */
  .ftr-row {
    flex-direction: column-reverse;
  }

  .ftr-right {
    margin: 0 auto 80px;
  }

  .ftr-left {
    margin: 0 auto;
  }

  .ftr-list {
    margin-top: 30px;
    justify-content: center;
  }

  .ftr-hdr1,
  .ftr-hdr2 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 62px;
    line-height: 70px;
  }

  /* Header Section */
  .nav-link {
    padding: 13px 13px !important;
  }

  /* Modal Section */
  .input-wrpr {
    padding: 8px;
  }

  .input-wrpr > img {
    margin-right: 10px;
  }

  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 12px;
  }

  .line2 {
    font-size: 14px;
  }

  input[type="radio"] {
    width: 14px;
    height: 14px;
}

  /* Banner Section */
  .banner-sec::before {
    width: 413px;
    height: 542px;
  }

  .banner-row {
    flex-wrap: wrap-reverse;
  }

  .banner-right {
    max-width: 100%;
  }

  .yellow-line {
    width: 18.78px;
    height: 51.08px;
  }

  .yellow-line::before {
    left: -34px;
    width: 18.78px;
    height: 51.08px;
  }

  .yellow-line::after {
    left: 34px;
    width: 18.78px;
    height: 51.08px;
  }

  .banner-left {
    max-width: 100%;
    margin: 70px 0 0;
  }

  .member-text {
    max-width: 100%;
  }

  /* Training Section */
  .slide {
    height: 271.1px;
  }
  .train-img1 {
    width: 128.06px;

    right: -23.06px;
    bottom: 0.1px;
  }
  .train-img2 {
    width: 128.47px;

    right: -27.47px;
    bottom: 0.1px;
  }
  .train-img3 {
    width: 318.44px;
    right: -32.5px;
    bottom: 0.1px;
  }

  /* About Gym Section */
  .about-yellow-line {
    margin-left: 10px !important;
  }
  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 10.78px;
    height: 14px;
  }
  .about-yellow-line::after {
    left: 38px !important;
  }
  .about-yellow-line::before {
    left: 19px !important;
  }

  /* Service Section */
  .training-list a {
    font-size: 21px;
    padding: 40px 0px;
  }

  /* About Section */
  .about-hdr .title3::before {
    height: 20px;
    width: 20px;
    top: -11%;
    border: 4px solid var(--primary-color);
  }

  /* Coach Section */

  .coach-desc .yellow-line::after {
    left: 24px;
  }

  .coach-right-hdr .title2 {
    margin-top: 20px;
  }

  .coach-desc .yellow-line {
    top: 119px;
  }

  /* Plan Section */
  .plan-yellow-line {
    margin-left: 45px !important;
  }

  .plan-right-hdr .title2 {
    font-size: 35px;
  }

  .plan-card .yellow-line,
  .plan-card .yellow-line::before,
  .plan-card .yellow-line::after {
    height: 18px;
    width: 9px;
  }

  .plan-yellow-line::after {
    left: 15px;
  }

  .plan-yellow-line::before {
    left: -16px;
  }

  /* Location Section */
  .location-left-hdr .about-yellow-line,
  .location-left-hdr .about-yellow-line::after,
  .location-left-hdr .about-yellow-line::before {
    height: 17px;
    width: 6px;
  }

  .location-left-hdr .about-yellow-line {
    top: -1px;
    left: 7px;
  }

  /* Real Section */
  .real-hdr > span {
    font-size: 40px;
  }

  .real-hdr p {
    font-size: 60px;
  }

  /* Footer Section */
  .ftr-btm-left {
    margin: 0 auto 50px;
  }

  .email-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .title2 {
    font-size: 36px;
  }

  .title3 {
    font-size: 14px;
  }
  /* Banner Section */
  .banner-sec::before {
    width: 370px;
    height: 514px;
  }

  /* Modal */
  .modal-desc {
    margin-block: 0 24px;
    font-size: 16px;
    line-height: 23px;
  }

  .modal-right {
    margin-top: 12px;
  }

  .modal-right-cntn {
    margin-top: 260px;
  }

  /* Training Section */
  .slide {
    height: 268.1px;
  }

  .card p {
    font-size: 77px;
  }

  .train-img1 {
    width: 127.06px;
  }

  .train-img3 {
    width: 267.44px;
    right: -32.5px;
    bottom: 0.1px;
  }

  .train-img2 {
    width: 128.47px;
    position: absolute;
    right: -28.47px;
    bottom: 0.1px;
  }

  /* About Gym Section */

  .about-left-hdr .title3::before {
    width: 15px;
    height: 15px;
    border: 3px solid var(--primary-color);
  }

  .about-img {
    margin: 50px auto 20px;
  }

  .about-right-cntn {
    margin: 30px 0 0;
  }

  .about-right-cntn p {
    font-size: 28px;
  }

  .about-desc-row {
    margin-top: 20px;
  }

  .right-desc {
    margin-block: 20px;
  }

  /* Service Section */
  .service-title3::before {
    top: 21%;
    border: 4px solid var(--primary-color);
  }

  .service-cntn {
    margin-top: 80px;
  }

  .training-list a {
    font-size: 19px;
    font-weight: 500;
    padding: 21px 0px;
  }

  /* About section */
  .about-sec {
    padding: 40px 0;
  }
  .about-img {
    margin-top: 30px;
  }
  .about-container {
    margin-top: 50px;
  }
  .about-card {
    height: 227px;
    padding: 13px;
    margin-bottom: 24px;
  }
  .about-card > p {
    font-size: 14px;
    line-height: 22px;
  }

  /* Real Section */
  .real-hdr {
    line-height: 50px;
    font-size: 50px;
  }

  .real-hdr > span {
    font-size: 35px;
  }

  .real-hdr p {
    font-size: 45px;
  }

  .real-yellow {
    margin-block: 30px;
  }

  .real-yellow > .yellow-line::after {
    left: 38px;
  }

  .real-sec {
    padding: 387px 0 80px;
  }

  .real-img {
    top: -8%;
  }

  /* Footer Section */
  .ftr-list > li {
    margin-right: 11px;
  }

  .ftr-links {
    padding-right: 11px;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 35px;
    line-height: 36px;
  }

  .title2 {
    font-size: 24px;
  }

  .title3 {
    font-size: 14px;
    margin-left: 8px;
  }

  /* Header Section */
  .navbar-brand {
    width: 130px;
  }

  /* Modal */
  .modal-content {
    padding: 5px;
    border-radius: 10px;
  }

  .modal-header > .smaller-yellow-line {
    margin-left: 61px;
  }

  #submit-btn {
    font-size: 14px;
  }

  .submit-btn-wrpr {
    padding: 12px;
  }

  .modal-right {
    padding: 15px;
  }

  .modal-right-cntn > p {
    font-size: 14px;
  }

  .modal-btm > p {
    font-size: 14px;
  }

  .line1 {
    font-size: 12px;
  }

  input[type="radio"] {
    width: 15px;
    height: 12px;
  }

  .line2 {
    font-size: 14px;
    margin-left: 7px;
  }

  .modal-right-cntn {
    margin-top: 140px;
  }

  /* Banner Section */
  .banner-sec {
    padding: 300px 0 40px;
  }

  .banner-sec::before {
    width: 279px;
    height: 433px;
  }

  .yellow-line {
    margin-left: 25px;
  }

  .yellow-line {
    width: 12.78px;
    height: 33.08px;
  }

  .yellow-line::before {
    left: -24px;
    width: 12.78px;
    height: 33.08px;
  }

  .yellow-line::after {
    left: 24px;
    width: 12.78px;
    height: 33.08px;
  }

  .banner-left-cntn {
    margin: 50px 0 0;
  }

  /* Training Section */
  .slide {
    height: 252.1px;
  }
  .smaller-yellow-line {
    margin-left: 31px !important;
  }
  .train-img2 {
    width: 130.47px;
    right: -17.47px;
    bottom: 0.1px;
  }
  .train-img1 {
    right: -11.06px;
    bottom: 0.1px;
  }

  /* About Gym Section */
  .about-left-hdr .title3::before {
    width: 12px;
    height: 12px;
    top: 7px;
    border: 2px solid var(--primary-color);
  }

  .about-sec {
    padding: 60px 0 30px;
  }

  .about-right-desc-hdr {
    font-size: 18px;
  }

  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 5.78px;
    height: 17.08px;
  }

  .about-yellow-line {
    margin-left: 9px !important;
  }

  .about-yellow-line::before {
    left: 11px !important;
  }

  .about-yellow-line::after {
    left: 24px !important;
  }

  .about-right-desc {
    margin: 20px 0 0;
  }

  .desc {
    font-size: 14px;
    line-height: 22px;
  }

  .right-desc {
    margin-block: 10px;
  }

  .call-sec {
    align-items: center;
  }
  .contact {
    margin-left: 0px;
    max-width: 261px;
    font-size: 18px;
  }
  .contact > a {
    font-size: 20px;
    color: var(--text-color);
  }

  .contact > a > span {
    font-size: 20px;
  }

  /* Service Section */
  .service-hdr .title3::before {
    width: 12px;
    height: 12px;
    border: 2px solid var(--primary-color);
  }

  .service-sec {
    padding: 40px 0;
  }

  .service-hdr .title3 {
    font-size: 20px;
  }

  .service-hdr .about-yellow-line {
    top: 4px;
  }

  .training-list a {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0px;
  }

  /* Location Section */
  .loc-hdr {
    padding: 55px 0;
  }

  .location-right-hdr {
    margin-top: 30px;
  }

  .number > p {
    font-size: 61px;
    line-height: 33px;
  }

  .small-txt {
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
  }

  .loc-para {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
  }

  /* Real Section */
  .real-sec {
    padding: 205px 0 63px;
  }
  .real-desc {
    font-size: 24px;
  }

  .real-hdr > span {
    font-size: 22px;
    color: var(--text-color);
  }

  .real-hdr p {
    font-size: 30px;
  }

  .real-yellow {
    margin-block: 14px;
  }

  .real-yellow > .yellow-line::after {
    left: 22px;
  }

  .real-yellow {
    margin-block: 14px;
  }

  .real-desc p {
    font-size: 27px;
  }

  /* Footer Section */
  .ftr-sec {
    padding: 60px 0;
  }

  .ftr-top {
    padding-bottom: 32px;
  }

  .ftr-hdr1,
  .ftr-hdr2 {
    font-size: 30px;
    line-height: 39px;
  }

  .scl-list {
    margin-top: 27px;
  }

  .scl-links {
    font-size: 16px;
  }

  .ftr-list > li {
    margin-right: 2px;
  }

  .ftr-links {
    padding-right: 10px;
    font-size: 10px;
  }

  .ftr-btm-left > p {
    font-size: 16px;
  }

  .email-input-wrpr {
    padding: 9px 13px;
  }

  .email-input-wrpr > .nav-btn {
    padding: 20px 27px 20px 26px;
  }

  .ftr-btn > span {
    display: none;
  }

  .email-input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  /* About Gym Section */
  .about-left-hdr .title3 {
    font-size: 20px;
  }

  .about-sec .title2 {
    font-size: 30px;
  }

  /* Coach Section */
  .coach-left-hdr .title3 {
    font-size: 12px;
  }

  .coach-right-hdr .title2 {
    font-size: 28px;
  }

  /* Plan Section */
  .price-ben > li {
    font-size: 14px;
  }

  .yellow-skew-lines > span {
    width: 8px;
    height: 24px;
  }

  .plan-btn {
    padding: 20px 0;
  }

  /* Real Section */

  .real-hdr span {
    font-size: 17px;
  }

  .real-hdr p {
    font-size: 23px;
  }

  .real-desc p {
    font-size: 20px;
  }
}
