@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Akira";
  src: url("../assets/fonts/Akira-Expanded-Font/Akira\ Expanded\ Demo.otf");
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --primary-color: #f2ff00;
  --tertiary-color: #000;
  --card-bg: #1e1e1e;
  --hover-color: #6a6a6a;
  --text-color-10: #ffffff1a;
  --text-color-16: #ffffff29;
  --text-color-50: #ffffff80;
  --text-color-30: #ffffff4d;
}

body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
  background-color: var(--tertiary-color);
}

.container {
  max-width: 1820px;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title1 {
  font-family: "Akira", sans-serif;
  font-size: 141px;
  color: var(--text-color);
  line-height: 130px;
}

.title2 {
  font-family: "Clash Display";
  font-size: 48px;
  font-weight: 400;
}

.title3 {
  font-family: "Akira", sans-serif;
  font-size: 25px;
  color: var(--text-color);
}

.title4 {
  font-family: "Akira", sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: var(--text-color);
}

/* 
====================
LOADER PART
====================
*/

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

/* Spinner */
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #334155;
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#page-loader p {
  margin-top: 15px;
  color: #e2e8f0;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}

/* Hide Loader */
#page-loader.hide {
  opacity: 0;
  visibility: hidden;
}

/* Content */
.content {
  padding: 50px;
  font-family: Arial, sans-serif;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 
=================
HEADER SECTION
=================
*/

.hdr-sec {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 99;
}

.navbar-brand {
  width: 172px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offcanvas {
  flex-direction: row !important;
  align-items: center;
}

.navbar-nav {
  max-width: 1305px;
  padding: 3px;
  backdrop-filter: blur(13px);
  margin: 0 auto;
  /* height: 74px; */
  align-items: center;
  border-radius: 56px;
  background-color: var(--text-color-16) !important;
  border: 1px solid #ffffff42;
}

.navbar-nav li:nth-child(6) {
  margin-right: 0;
}

.nav-item {
  margin-right: 5px;
}

.nav-link {
  padding: 21px 20px !important;
  color: var(--text-color);
  font-size: 18px;
  transition: all 0.5s ease-in;
}

.nav-link:hover {
  color: var(--text-color);
  border-radius: 110px;
  background-color: var(--tertiary-color);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background:
    linear-gradient(
      to top,
      rgba(255, 251, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #2d2c2c !important;
  padding: 5px 19px 0 5px;
  border-radius: 10px;
}

.dropdown-menu > li {
  margin-bottom: 5px;
}

.dropdown-item {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, #272525 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  border: 1px solid #ffe6004d;
  text-transform: capitalize;
  width: 220px !important;
  border-radius: 300px;
  /* transition: all 0.5s ease-in; */
}

.dropdown-item:hover {
  background: linear-gradient(180deg, rgba(3, 3, 3, 80%) 70%, #8a8b00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav .nav-link.show {
  color: var(--text-color) !important;
}

.search-form {
  max-width: 370px;
}

.search-wrpr {
  width: 100%;
  padding: 15px 15px;
  margin-right: 7px;
  border-radius: 74px;
  background-color: var(--tertiary-color);
}

.search-wrpr > label > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.search-wrpr .form-control:focus {
  box-shadow: none;
}

.search-input {
  background: none;
  border: none;
}

.search-input::placeholder {
  color: var(--text-color) !important;
  font-size: 16px;
}

.search-input:focus {
  background: none;
  outline: none !important;
  border: none !important;
  color: var(--text-color);
}

.cart-bg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.cart-bg:hover svg {
  transform: scale(1.3);
}

.cart-bg:hover svg {
  transition: all 0.3s ease-in-out;
}

.cart-bg > svg {
  width: 24px;
  height: 24px;
}

.nav-btn > img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-left: 10px;
}

.nav-btn {
  padding: 20px 20px 20px 41px;
  border: 1px solid var(--primary-color);
  background-color: #fff7001a;
  backdrop-filter: blur(2px);
  border-radius: 37.5px;
  transition: all 0.2s;
  overflow: hidden;
}

.nav-btn > span {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.nav-btn img {
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: var(--primary-color);
}

.nav-btn:hover span {
  transform: translateX(16em);
}

.nav-btn:hover img {
  transform: translateX(-6em) scale(1.8);
}

.active {
  border-radius: 110px;
  background-color: var(--primary-color);
  color: var(--tertiary-color) !important;
}

.active:hover {
  background: var(--primary-color) !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}

/* 
=============
Modal Part
=============
*/

.modal-backdrop {
  z-index: 1050 !important;
}

.modal {
  z-index: 1055 !important;
}

.modal-dialog {
  max-width: 1140px;
}

.modal-content {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #f2ff00 -28%, #000000 100%);
  position: relative;
}

.modal-header .smaller-yellow-line {
  margin-left: 66px;
}

.modal-header > .title3 {
  margin-left: 0 !important;
  margin-top: 10px;
  font-size: 27px;
}

.modal-desc {
  max-width: 455px;
  margin-block: 0 50px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}

.modal-form {
  width: 100%;
}

.input-wrpr {
  align-items: center;
  width: 100%;
  padding: 11px;
  background-color: var(--text-color-10);
  border: 1px solid var(--text-color-30);
  margin-bottom: 12px;
}

.input-wrpr > img {
  margin-right: 10px;
}

.input-wrpr > input:focus {
  border: none;
  outline: none !important;
}

#fname,
#lname,
#emailname,
#gender,
#age,
#phone,
#weight,
#goal,
#password {
  width: 100%;
  background: none;
  border: none;
}

#fname::placeholder,
#lname::placeholder,
#emailname::placeholder,
#gender::placeholder,
#age::placeholder,
#phone::placeholder,
#weight::placeholder,
#goal::placeholder,
#password::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 12px;
}

.pass-fld span {
  display: inline-block;
}

.terms {
  margin-block: 12px 24px;
}

.eye {
  cursor: pointer;
}

.eye.active svg {
  opacity: 1;
}

.terms-check {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* hide real checkbox */
.terms-check input {
  display: none;
}

/* circle */
.check-ui {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #e6ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* tick */
.check-ui::after {
  content: "✓";
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: none;
}

/* checked state */
.terms-check input:checked + .check-ui {
  background-color: #e6ff00;
}

.terms-check input:checked + .check-ui::after {
  display: block;
}

.terms .agree {
  color: #4e4e4e;
  font-size: 17px;
  margin: 0 10px;
}

.terms a {
  color: var(--text-color);
  font-size: 17px;
  text-decoration: underline;
}

.submit-btn-wrpr {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 37.5px;
  padding: 20px 20px 20px 41px;
}

#submit-btn {
  background: none !important;
  border: none !important;
  font-weight: 500;
  font-size: 18px;
  color: var(--tertiary-color);
}

.modal-right {
  background: url("../assets/modal-bg.png") no-repeat center/cover;
  padding: 50px;
  border-radius: 10px;
}

.modal-logo {
  width: 90px;
  margin-left: auto;
}

.modal-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-right-cntn {
  margin-top: 400px;
}

.modal-right-cntn > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.5;
}

.modal-btn > p {
  font-weight: 600;
  font-size: 18px;
  max-width: 186px;
  color: var(--text-color);
}

.line1 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--tertiary-color);
  border: 2px solid var(--text-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.line2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--text-color);
  margin-left: 10px;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--text-color);
  opacity: 1 !important;
  border: 1px solid var(--tertiary-color) !important;
}

/* 
=====================
BANNER SECTION
=====================
*/

.banner-sec {
  background: url("../assets/workout/workout-banner-bg.png") no-repeat
    center/cover;
  position: relative;
  padding: 627px 0 60px;
  background-attachment: fixed;
}

.banner-sec::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.banner-cntn .title1 span {
  color: var(--primary-color);
}

.title-btn {
  display: inline-block;
  font-family: "Akira";
  padding: 8px 16px;
  background-color: var(--text-color-10);
  border: 1px solid var(--text-color-30);
  backdrop-filter: blur(60px);
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--text-color);
}

.title-btn > .workout {
  color: var(--primary-color);
  position: relative;
  margin-left: 20px;
}

.title-btn > .workout::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: var(--primary-color);
  left: -15px;
  top: 32%;
}

.yellow-line {
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
  transform: skewX(-30deg);
  position: relative;
}

.yellow-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}

.yellow-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}

/* 
===================
PROJECT SECTION
===================
*/

.project-sec {
  padding: 100px 0;
}

.project-cntn {
  width: 100%;
}

.project {
  padding-inline: 24px;
  border-left: 1px solid var(--text-color-16);
  position: relative;
}

.project .about-yellow-line {
  top: 7px;
  left: -1px;
}

.project > p {
  font-weight: 800;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 0 !important;
}

.project > .smaller-yellow-line {
  margin-left: 17px !important;
}

.project > .smaller-yellow-line,
.project > .smaller-yellow-line::before,
.project > .smaller-yellow-line::after {
  width: 6.36px;
  height: 15.17px;
}

.project > .smaller-yellow-line::before {
  left: 12px;
}

.project > .smaller-yellow-line::after {
  left: -12px;
}

.project-desc {
  font-size: 33px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 30px;
}

/* 
======================
WORKOUT SECTION
======================
*/

.workout-sec {
  padding: 80px 0 100px;
}

.workout-sec .about-hdr {
  margin-bottom: 56px;
}

.about-hdr .about-title3 {
  margin-left: 50px;
}

.about-hdr .about-title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}

.smaller-yellow-line {
  margin-left: 35px;
}

.about-yellow-line,
.about-yellow-line::after,
.about-yellow-line::before {
  width: 8.55px;
  height: 24px;
}

.about-yellow-line::before {
  left: -15px;
}

.about-yellow-line::after {
  left: 15px;
}

.sorting-button-list {
  margin-block: 50px;
  width: 100%;
}

.sorting-button {
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  padding: 24px 49px;
  max-width: 430px;
  border: 1px solid #434343;
  color: var(--text-color);
  position: relative;
}

.trainer-btn {
  padding-inline: 121px;
}

.mode-btn {
  padding-inline: 85.5px;
}

.member-btn {
  padding-inline: 68px;
}

.sorting-button > span {
  font-family: "Akira";
  font-weight: 900;
}

.sorting-button > i {
  margin-left: 50px;
}

.dropdown-sorted-menu {
  display: none;
  background-color: var(--text-color);
  position: absolute;
  padding: 0 12px 12px;
  width: 100%;
  left: 0;
  top: 110%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  z-index: 11;
}

.show-sorted-menu {
  display: block;
}

.dropdown-sorted-menu > li {
  display: flex;
  align-items: center;
  padding-block: 12px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.workout-category-list > li:last-child {
  border-bottom: none;
}

.workout-category-list > li > input[type="checkbox"] {
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: 1px solid var(--hover-color);
}

.workout-category-list > li > input[type="checkbox"] {
  appearance: none;
}

.workout-category-list > li > input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.workout-category-list > li > label {
  font-weight: 500 !important;
  margin-left: 10px;
  text-align: initial;
  color: var(--tertiary-color);
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.workout-category-list li:hover {
  background-color: #f8f8f8;
}

.grid {
  margin-top: 130px;
}

/* .grid .row {
  display: flex;
  flex-wrap: wrap;
} */

.element-card {
  width: 50%;
  /* max-width: 854px; */
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 130px;
}

.card-top {
  background: url("../assets/about/work-bg.png") no-repeat center/cover;
  min-height: 400px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-type {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--primary-color);
  font-size: 15px;
  color: var(--tertiary-color);
  margin-left: auto;
  font-weight: bold;
  z-index: 4;
}

.workout-sec .card-top > .yellow-line {
  position: absolute;
  left: 534px;
  top: 321px;
}

.author {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 16px;
  font-weight: 900;
  color: var(--text-color);
  text-transform: uppercase;
}

.cata-card-img {
  position: absolute;
  bottom: 0;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 95%
  );
}

.cata-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img2 {
  max-width: 296.68px;
  left: 17px;
}

.img3 {
  max-width: 327px;
  /* top: -128.3px; */
  left: 149px;
}

.img4 {
  max-width: 794.88px;
  top: -64.3px;
  right: 60.46px;
  left: 0;
}

.img5 {
  max-width: 401.94px;
  left: 136px;
  /* top: -124.3px; */
}

.img7 {
  max-width: 535px;
  top: -120.07px;
  /* right: 343px; */
  left: 0;
}

.img8 {
  max-width: 473px;
  top: -124.3px;
  left: 33px;
}

.card-bottom {
  margin-top: 24px;
}

.numbering {
  display: flex;
  align-items: center;
  max-width: 39px;
  margin-block: 11px 20px;
  height: 33px;
  padding: 12px;
  font-size: 13px;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

.card-btm-row {
  align-items: center;
}

.card-desc {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.card-desc > span {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 400;
}

.card-btn {
  width: 100%;
  padding: 26.5px 10px;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.card-btn::before,
.card-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: black;
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.card-btn::before {
  left: -20px;
}

.card-btn::after {
  right: -20px;
}

.card-btn:hover::before,
.card-btn:hover::after {
  width: 60%;
}

.card-btn:hover > span,
.card-btn:hover i {
  color: var(--primary-color) !important;
}

.card-btn:hover {
  border: 1px solid var(--primary-color);
}

.card-btn > span {
  font-size: 27px;
  color: var(--tertiary-color);
  font-weight: 600;
  text-transform: capitalize;
}

.load-more-btn {
  text-align: center;
}

.load-btn {
  padding: 20px 0;
  width: 100%;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  border-block: 1px solid var(--text-color-30);
  border-inline: 4px solid var(--primary-color);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.load-btn::before,
.load-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(0deg);
  background-color: var(--primary-color);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.load-btn::before {
  left: -10px;
}

.load-btn::after {
  right: -10px;
}

.load-btn:hover::before,
.load-btn:hover::after {
  width: 58%;
}

.load-btn:hover {
  color: var(--tertiary-color);
}

/* 
====================
COMMON SECTION
====================
*/

.common-sec {
  padding: 140px 0 54px;
}

.common-hdr .about-hdr {
  margin-bottom: 0;
}

.common-hdr > .title2 {
  font-size: 51px;
  font-weight: 500;
  margin: 139px 0 114px;
  color: var(--text-color);
}

.accordion-item {
  margin-bottom: 86.25px;
  opacity: 0.57;
  max-width: 814px;
}

.accordion-header {
  background-color: var(--text-color);
  border-radius: 9px;
}

.accordion-button {
  font-weight: 600 !important;
  font-size: 24px;
  color: var(--tertiary-color);
  padding-block: 35px !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.accordion-body {
  font-weight: 500;
  color: var(--tertiary-color);
}

/* 
=====================
FOOTER SECTION
=====================
*/

.footer-sec {
  padding: 100px 0;
  background-color: var(--tertiary-color);
}

.footer-top {
  padding-bottom: 90px;
  border-bottom: 1px solid var(--text-color-30);
}

.footer-left {
  max-width: 500px;
}

.footer-hdr1,
.footer-hdr2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
}

.social-list {
  width: 100%;
  margin-top: 22px;
  padding: 0;
}

.social-links {
  color: var(--text-color);
  font-size: 21px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.social-links:hover {
  color: var(--primary-color);
}

.social-links > i {
  transition: all 0.3s linear;
}

.social-links:hover > i {
  transform: rotate(-45deg) translateX(5px);
  color: var(--primary-color) !important;
}

.footer-right {
  max-width: 688px;
}

.footer-logo {
  max-width: 650px;
  margin-left: auto;
}

.footer-logo > a {
  width: 100%;
  height: 100%;
}

.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-list {
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

.footer-list > li:last-child {
  margin-right: 0 !important;
  border: none;
  padding-right: 0 !important;
}

.footer-list > li {
  margin-right: 14px;
}

.footer-links {
  font-size: 17px;
  border-right: 1px solid var(--text-color);
  padding-right: 20px;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.3s linear;
}

.footer-links:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.footer-btm {
  padding-top: 37px;
}

.footer-btm-left {
  max-width: 500px;
}

.footer-btm-left > p {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: var(--text-color);
}

.email-form {
  max-width: 690px;
}

.email-input-wrpr {
  max-width: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: var(--card-bg);
}

.email-input {
  background: none;
  border: none;
}

.email-input:focus {
  border: none;
  outline: none;
  color: var(--text-color);
}

.email-input::placeholder {
  color: var(--text-color);
  font-size: 20px;
}

.email-input-wrpr > .nav-btn {
  margin: 0;
  padding: 20px 27px 20px 40px;
}

.email-input-wrpr > .nav-btn:hover img {
  transform: translateX(-3em) scale(3);
}

/* 
======================
MEDIA QUERIES
======================
*/

@media screen and (max-width: 1750px) {
  .title1 {
    color: var(--text-color);
    font-size: 100px;
    line-height: 100px;
  }

  .title3 {
    font-size: 20px;
    color: var(--text-color);
  }

  .title4 {
    font-size: 16px;
  }

  /* Header Section */
  .nav-btn {
    padding: 20px 10px 20px 17px;
    outline: 1px solid var(--primary-color);
    background-color: #fff7001a;
    backdrop-filter: blur(2px);
    border-radius: 37.5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
  }

  .navbar-brand {
    width: 150px;
  }

  .nav-link {
    padding: 14px 14px !important;
    color: var(--text-color);
    font-size: 16px;
  }

  .nav-btn > img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-left: 0px;
  }

  /* Project Section */
  .project {
    padding-inline: 15px;
  }

  /* Common Section */
  .accordion-button {
    font-size: 21px;
  }
}

@media screen and (max-width: 1400px) {
  .title1 {
    font-size: 87px;
  }

  /* Header Section */
  .nav-btn {
    margin-top: 14px;
  }

  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-nav {
    background: none !important;
    border: none;
    backdrop-filter: none;
  }

  .navbar-toggler-icon {
    width: 2.2rem;
    background: none;
  }

  .nav-item {
    margin-right: 0;
  }

  .nav-item:hover {
    background: none;
  }

  .search-form {
    margin-bottom: 20px;
  }

  .search-wrpr {
    background-color: var(--hover-color);
    padding: 6px 10px;
  }

  /* Project Section */
  .project-desc {
    font-size: 27px;
    margin-top: 20px;
  }

  /* Workout Section */
  .card-desc > span {
    font-size: 12px;
  }

  .img3 {
    left: 73px;
  }

  .img5 {
    left: 41px;
  }

  .img7 {
    top: -80.07px;
    right: 108px;
  }

  .img8 {
    max-width: 308px;
    top: -73.3px;
    left: 40px;
  }

  .workout-sec .card-top > .yellow-line {
    position: absolute;
    left: 453px;
    top: 321px;
  }

  /* Common Section */
  .common-hdr > .title2 {
    margin-block: 100px;
  }

  .accordion-button {
    font-size: 18px;
    padding: 30px 10px !important;
  }

  .accordion-item {
    margin-bottom: 58.25px;
  }

  /* Footer Section */
  .footer-list > li {
    margin-right: 13px;
  }

  .footer-links {
    padding-right: 13px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .title1 {
    font-size: 70px;
    line-height: 70px;
  }

  .title3 {
    font-size: 16px;
  }

  /* Modal Section */
  .input-wrpr {
    padding: 10px;
  }
  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 14px;
  }

  /* Project section */
  .project-desc {
    font-size: 21px;
  }

  /* Workout Section */
  .card-bottom {
    margin-top: 10px;
  }

  .card-btn > span {
    font-size: 20px;
  }

  .card-desc {
    font-size: 19px;
    line-height: 18px;
  }

  .card-desc > span {
    font-size: 9px;
  }

  .img4 {
    top: -30.3px;
    right: 76.46px;
    left: 0;
  }

  .img7 {
    top: -32.07px;
    right: 80px;
  }

  .img8 {
    max-width: 246px;
    top: -56.3px;
    left: -2px;
  }

  .workout-sec .card-top > .yellow-line {
    position: absolute;
    left: 352px;
    top: 321px;
  }

  /* Footer Section */
  .footer-row {
    flex-direction: column-reverse;
  }

  .footer-right {
    margin: 0 auto 80px;
  }

  .footer-left {
    margin: 0 auto;
  }

  .footer-list {
    margin-top: 30px;
    justify-content: center;
  }

  .footer-hdr1,
  .footer-hdr2 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 62px;
    line-height: 70px;
  }

  /* Header Section */
  .nav-link {
    padding: 13px 13px !important;
  }

  .offcanvas {
    padding: 20px;
    max-height: fit-content;
  }

  /* Modal Section */
  .input-wrpr {
    padding: 8px;
  }

  .input-wrpr > img {
    margin-right: 10px;
  }

  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 12px;
  }

  .line2 {
    font-size: 14px;
  }

  input[type="radio"] {
    width: 14px;
    height: 14px;
  }

  /* Project Section */
  .project {
    padding-inline: 13px 0;
  }

  .project-desc {
    font-size: 16px;
  }

  /* Workout Section */
  .element-card {
    width: 100%;
    margin: 0 auto 50px;
  }

  .card-desc {
    font-size: 27px;
    line-height: 18px;
  }

  .card-desc > span {
    font-size: 16px;
  }

  .cata-card-img {
    top: -60px;
    left: 136px;
    bottom: 0;
  }

  .img2 {
    max-width: 296.68px;
    left: 150px;
  }

  .img3 {
    top: -66px;
    left: 149px;
  }

  .img4 {
    top: -60px;
    right: 124.46px;
    left: 0;
  }

  .img5 {
    max-width: 401.94px;
    left: 176px;
    top: -62.3px;
  }

  .img7 {
    top: -40.07px;
    right: 275px;
    left: 0;
  }

  .img8 {
    max-width: 473px;
    top: -55.3px;
    left: 104px;
  }

  .workout-sec .card-top > .yellow-line {
    position: absolute;
    left: 605px;
    top: 321px;
  }

  /* Common Section */
  .common-sec {
    padding: 95px 0 40px;
  }

  .common-hdr > .title2 {
    margin-block: 60px;
  }

  .accordion-item {
    margin-bottom: 42.25px;
  }

  .accordion-button {
    font-size: 16px;
    padding: 20px 8px !important;
  }

  /* Footer Section */
  .footer-btm-left {
    margin: 0 auto 50px;
  }

  .email-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .title2 {
    font-size: 36px;
  }

  /* .title3 {
    font-size: 14px;
  } */

  /* Modal */
  .modal-desc {
    margin-block: 0 24px;
    font-size: 16px;
    line-height: 23px;
  }

  .modal-right {
    margin-top: 12px;
  }

  .modal-right-cntn {
    margin-top: 260px;
  }

  /* Banner Section */
  .banner-sec {
    padding: 350px 0 60px;
  }

  /* Project section */
  .project-sec {
    padding: 80px 0 40px;
  }

  .project-cntn {
    max-width: 500px;
    margin: 0 auto;
  }

  .project {
    max-width: 200px;
    margin: 0 auto;
  }

  .project-cntn .col-6:nth-child(3),
  .project-cntn .col-6:nth-child(4) {
    margin-top: 40px;
  }

  /* Workout Section */

  .workout-sec .about-hdr .about-title3 {
    font-size: 23px !important;
  }

  .workout-sec .about-hdr .about-title3::before {
    top: 0;
  }

  .grid {
    margin-top: 90px;
  }

  .element-card {
    margin: 0 auto 40px;
  }

  .card-top {
    height: 300px;
    padding: 12px;
  }

  .cata-card-img {
    left: 40px;
  }

  .img2 {
    left: 26px;
  }

  .img3 {
    top: -53px;
    left: 28px;
  }

  .img4 {
    top: -42px;
    right: 98.46px;
    left: 0px;
  }

  .img5 {
    left: 18px;
    top: -55.3px;
  }

  .img7 {
    top: -52.07px;
    right: 128px;
    left: 0;
  }

  .img8 {
    top: -56.3px;
    left: -8px;
  }

  .card-btn {
    padding: 20px 10px;
  }

  .numbering {
    max-width: 39px;
    margin-block: 1px 13px;
  }

  .card-desc {
    font-size: 22px;
    line-height: 21px;
  }

  .card-desc > span {
    font-size: 11px;
  }

  .workout-sec .card-top > .yellow-line {
    position: absolute;
    left: 426px;
    top: 321px;
  }

  /* Common Section */
  .common-hdr > .title2 {
    font-size: 36px;
    margin-block: 50px;
  }

  .common-hdr .title3 {
    font-size: 23px;
  }

  .accordion-item {
    margin-bottom: 27.25px;
  }

  .accordion-button {
    font-size: 14px;
    padding: 14px 5px !important;
  }

  /* Footer Section */
  .footer-list > li {
    margin-right: 11px;
  }

  .footer-links {
    padding-right: 11px;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 35px;
    line-height: 36px;
  }

  .title2 {
    font-size: 24px;
  }

  .title3 {
    font-size: 14px;
    margin-left: 8px;
  }

  /* Header Section */
  .navbar-brand {
    width: 130px;
  }

  /* Modal */
  .modal-content {
    padding: 5px;
    border-radius: 10px;
  }

  .modal-header > .smaller-yellow-line {
    margin-left: 61px;
  }

  #submit-btn {
    font-size: 14px;
  }

  .submit-btn-wrpr {
    padding: 12px;
  }

  .modal-right {
    padding: 15px;
  }

  .modal-right-cntn > p {
    font-size: 14px;
  }

  .modal-btm > p {
    font-size: 14px;
  }

  .line1 {
    font-size: 12px;
  }

  input[type="radio"] {
    width: 15px;
    height: 12px;
  }

  .line2 {
    font-size: 14px;
    margin-left: 7px;
  }

  .modal-right-cntn {
    margin-top: 140px;
  }

  /* Banner Section */
  .banner-sec {
    padding: 290px 0 40px;
    min-height: 50vh;
  }

  /* Project Section */
  .project-desc {
    font-size: 13px;
    margin-top: 16px;
  }

  /* Workout Section */
  .work-hdr {
    padding: 50px 0;
  }

  .work-right-hdr {
    margin-top: 40px;
  }

  .number > p {
    font-size: 61px;
    line-height: 25px;
  }

  .small-txt {
    font-size: 24px;
  }

  .work-para {
    font-size: 14px;
    line-height: 24px;
  }

  .button-slider {
    padding: 8px;
  }

  .btn-cntn {
    font-size: 12px;
    padding: 4px 8px !important;
  }

  .grid {
    margin-top: 60px;
  }

  .element-card {
    padding: 12px;
  }

  .card-top {
    height: 220px;
    padding: 10px;
  }

  .card-type {
    padding: 3px 8px;
    font-size: 12px;
  }

  .card-top > .yellow-line {
    position: absolute;
    right: 38px;
    bottom: 37px;
  }

  .author {
    font-size: 14px;
  }

  .cata-card-img {
    left: 3px;
    top: -40px;
  }

  .img2 {
    left: 5px;
  }

  .img3 {
    top: -42px;
    left: 4px;
  }

  .img4 {
    top: -25px;
    right: -6.54px;
    left: 0px;
  }

  .img5 {
    left: 2px;
    top: -40.3px;
  }

  .img7 {
    top: -30.07px;
    right: 29px;
    left: 0;
  }

  .img8 {
    top: -26.3px;
    left: -9px;
  }

  .card-btn {
    margin-top: 10px;
    padding: 9px 0;
  }

  .card-btn > span {
    font-size: 18px;
  }

  .workout-sec .card-top > .yellow-line {
    position: absolute;
    left: 303px;
    top: 321px;
  }

  /* Common Section */
  .common-sec {
    padding: 70px 0 40px;
  }

  .common-hdr .about-title3 {
    margin-left: 46px;
    font-size: 19px !important;
  }

  .about-hdr .about-title3::before {
    top: -9%;
  }

  .common-hdr > .title2 {
    font-size: 24px;
    margin-block: 30px;
  }

  /* Footer Section */
  .footer-sec {
    padding: 60px 0;
  }

  .footer-top {
    padding-bottom: 32px;
  }

  .footer-hdr1,
  .footer-hdr2 {
    font-size: 30px;
    line-height: 39px;
  }

  .social-list {
    margin-top: 27px;
  }

  .social-links {
    font-size: 16px;
  }

  .footer-list > li {
    margin-right: 2px;
  }

  .footer-links {
    padding-right: 10px;
    font-size: 10px;
  }

  .footer-btm-left > p {
    font-size: 16px;
  }

  .email-input-wrpr {
    padding: 9px 13px;
  }

  .email-input-wrpr > .nav-btn {
    padding: 20px 27px 20px 26px;
  }

  .footer-btn > span {
    display: none;
  }

  .email-input::placeholder {
    font-size: 14px;
  }

  .email-input-wrpr > .nav-btn:hover img {
    transform: scale(2);
  }
}

@media screen and (max-width: 425px) {
  /* Workout Section */
  .workout-sec .card-top > .yellow-line {
    position: absolute;
    left: 195px;
    top: 321px;
  }

  .workout-sec .about-hdr .about-title3 {
    font-size: 16px !important;
  }

  .workout-sec .about-hdr .about-title3::before {
    height: 20px;
    width: 20px;
  }

  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 8.55px;
    height: 18px;
  }

  /* Common Section */
  .common-hdr .about-title3 {
    margin-left: 46px;
    font-size: 14px !important;
  }

  .common-hdr .about-hdr .about-title3::before {
    height: 18px;
    width: 18px;
  }

  /* Footer Section */
  .footer-links {
    padding-right: 10px;
    font-size: 8px;
  }

  .email-input-wrpr > .nav-btn {
    padding: 10px 15px;
  }

  .nav-btn > span {
    display: none;
  }

  .email-input-wrpr > .nav-btn:hover img {
    transform: rotate(-45deg);
  }
}
